<%
local uci = require "luci.model.uci".cursor()
local zones = {}
	uci:foreach("firewall", "zone", function(s)
		table.insert(zones, s.name)
	end)
%>
<script type="text/javascript">
	window.onload = function() {
		if (document.getElementById("cbid.rs.rs232.enabled"))
			check_for_filter('rs232');
		else if (document.getElementById("cbid.rs.rs485.enabled"))
			check_for_filter('rs485');
	};
</script>

<div class="cbi-section-create cbi-tblsection-create">
	<table class="cbi-section-table" style="width:100%;">
		<tr class="cbi-section-table-row">
			<td class="cbi-section-table-cell" style="width:200px; background-color: #FFF;">
				<div class="cbi-section-create cbi-tblsection-create" style="width:180px;" id="cbi-div-<%=self.sectiontype%>">
					<label class="cbi-value-title">
						<div style="padding-top: 4px; width: 103px; float: left;">Interface name:</div>
					</label>

					<script type="text/javascript">
						function fill(){
							var interface_value = document.getElementById("_newinput.action").value;
							if (interface_value) {
								var field = document.getElementById("cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=self.section%>");
								field.value=interface_value;
							}
						}

					</script>
					<select class="cbi-input-select" id="_newinput.action" name="_newinput.action" style="float:right;">
					<% for i, k in ipairs(zones) do %>
						<option id="cbi-rs-interface-<%=k%>" value="<%=k%>"><%=string.upper(k)%></option>
					<% end %>
					</select>
					<input class="cbi-section-create-name" id="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" style="display:none;"/>
					<script type="text/javascript">cbi_validate_field('cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>', true, 'uciname');</script>
				</div>
			</td>
			<td class="cbi-section-table-cell" style="background-color: #FFF;">
				<input class="cbi-button cbi-button-add" id="cbi-<%=self.sectiontype%>"  name="cbi-<%=self.sectiontype%>" type="submit" onclick="fill(); this.form.cbi_state='add-section'; return true" value="<%:Add%>" title="<%:Add%>" />
			</td>
		</tr>
	</table>

</div>
