<% local utl = require "luci.util" %>
<% if self:cfgvalue(self.section) then section = self.section %>
	<fieldset class="cbi-section" id="cbi-<%=self.config%>-<%=section%>">
		<% if self.title and #self.title > 0 then -%>
			<legend><%=self.title%></legend>
		<%- end %>
		<% if self.description and #self.description > 0 then -%>
			<div class="cbi-section-descr"><%=self.description%></div>
		<%- end %>
		<% if self.addremove then -%>
			<div class="cbi-section-remove right">
				<input type="submit" name="cbi.rns.<%=self.config%>.<%=section%>" value="<%:Delete%>" />
			</div>
		<%- end %>
	<%- if self.tabs then %>
	<ul class="cbi-tabmenu">
	<%- self.selected_tab = luci.http.formvalue("tab." .. self.config .. "." .. section) %>
	<%- for _, tab in ipairs(self.tab_names) do if #self.tabs[tab].childs > 0 then %>
		<script type="text/javascript">cbi_c['container.<%=self.config%>.<%=section%>.<%=tab%>'] = <%=#self.tabs[tab].childs%>;</script>
		<%- local primary_card_selected = utl.trim(luci.sys.exec("uci -q get simcard.simcard.default")) or "0" %>
	<%- if primary_card_selected == "sim2" then %>
		<%- if not self.selected_tab then self.selected_tab = "secondarytab" end %>
		<%- else %>
		<%- if not self.selected_tab then self.selected_tab = tab end %>
	<%- end %>
			<li id="tab.<%=self.config%>.<%=section%>.<%=tab%>" class="cbi-tab<%=(tab == self.selected_tab) and '' or '-disabled'%>">
			<a onclick="this.blur(); return cbi_t_switch('<%=self.config%>.<%=section%>', '<%=tab%>')" href="<%=REQUEST_URI%>?tab.<%=self.config%>.<%=section%>=<%=tab%>"><%=self.tabs[tab].title%></a>
			<% if tab == self.selected_tab then %><input type="hidden" id="tab.<%=self.config%>.<%=section%>" name="tab.<%=self.config%>.<%=section%>" value="<%=tab%>" /><% end %>
		</li>
	<% end end -%>
	</ul>
	<% end -%>
		<div class="cbi-section-node<% if self.tabs then %> cbi-section-node-tabbed<% end %>" id="cbi-<%=self.config%>-<%=section%>">
			<%+cbi/ucisection%>
		</div>
	<% if self.template_addremove then include(self.template_addremove) end -%>
	</fieldset>
<% elseif self.addremove then %>
	<% if self.template_addremove then include(self.template_addremove) else -%>
	<fieldset class="cbi-section" id="cbi-<%=self.config%>-<%=self.section%>">
		<% if self.title and #self.title > 0 then -%>
			<legend><%=self.title%></legend>
		<%- end %>
		<div class="cbi-section-descr"><%=self.description%></div>
		<input type="submit" class="cbi-button-add" name="cbi.cns.<%=self.config%>.<%=self.section%>" value="<%:Add%>" />
	</fieldset>
	<%- end %>
<% end %>
<!-- /nsection -->
