<%
	local t = require("luci.tools.webadmin")
	local v = self:cfgvalue(section)
	local s = v and nixio.fs.stat(v)
-%>

<script type="text/JavaScript" src="/luci-static/mdex/upload-validation.js"></script>

<%+cbi/valueheader%>
<span style="position: relative; bottom: 2px;">
	<% if s then %>
		<%:Uploaded File%> (<%=t.byte_format(s.size)%>)
		<input type="hidden"<%= attr("value", v) .. attr("name", cbid) .. attr("id", cbid) %> />
		<input class="cbi-button cbi-input-image" style="margin:0; position: relative; top: 5px; border: none; border-radius: 0px;" type="image" value="<%:Replace entry%>" name="cbi.rlf.<%=section .. "." .. self.option%>" alt="<%:Replace entry%>" title="<%:Replace entry%>" src="<%=resource%>/cbi/remove.gif" />
	<% else %>
		<input class="cbi-input-file" type="file"<%= attr("name", cbid) .. attr("id", cbid) %>  onchange="CheckFilesize(this.id, '<%=self.size%>', '<%=self.sizetext%>', '<%=self.sizetextempty%>');"/>
	<% end %>
</span>	
<%+cbi/valuefooter%>
