<%
	local fw = require "luci.model.firewall".init()
	local wz = fw:get_zone("wan")
	local lz = fw:get_zone("lan")
%>

<div class="cbi-section-create cbi-tblsection-create">
	<% if wz and lz then %>
		<br />
		<legend><%=translate("Open Ports On Router")%></legend>
		<br>
		<table class="cbi-section-table">
			<tr class="cbi-section-table-descr">
				<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Name of the rule. Used for easier rules management purpose only')%>')" onmouseout="HideHint(this)"><%=translate("Name")%></span></th>
				<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Type of protocol of incoming or outgoing packet')%>')" onmouseout="HideHint(this)"><%=translate("Protocol")%></span></th>
				<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Match incoming traffic directed at the given destination port or port range on this host')%>')" onmouseout="HideHint(this)"><%=translate("External port")%></span></th>
				<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Match incoming traffic from this IP or range only')%>')" onmouseout="HideHint(this)"><%=translate("Source zone")%></span></th>
				<th class="cbi-section-table-cell"></th>
			</tr>
			<tr class="cbi-section-table-row">
				<td class="cbi-section-table-cell" style="width:130px">
					<input type="text" class="cbi-input-text" id="_newopen.name" name="_newopen.name" placeholder="<%=translate('New input rule')%>" />
				</td>
				<td class="cbi-section-table-cell" style="width:110px">
					<select class="cbi-input-select" id="_newopen.proto" name="_newopen.proto">
						<option value="tcp udp"><%=translate("TCP+UDP")%></option>
						<option value="tcp"><%=translate("TCP")%></option>
						<option value="udp"><%=translate("UDP")%></option>
						<option value="other"><%=translate("Other...")%></option>
					</select>
				</td>
				<td class="cbi-section-table-cell" style="width:110px">
					<input type="text" class="cbi-input-text" id="_newopen.extport" name="_newopen.extport" />
				</td>
				<td class="cbi-section-table-cell" style="width:110px">
					<select class="cbi-input-select" id="_newfwd.source" name="_newfwd.source">
						<option value="wan"><%=translate("WAN")%></option>
						<option value="lan"><%=translate("LAN")%></option>
						<option value="vpn"><%=translate("VPN")%></option>
					</select>
				</td>
				<td class="cbi-section-table-cell left">
					<input type="submit" class="cbi-button cbi-button-add" name="_newopen.submit" value="<%:Add%>" />
				</td>
			</tr>
		</table>
		
		<br>
		<legend><%=translate("New Forward Rule")%></legend>
		<br>
		<table class="cbi-section-table">
			<tr class="cbi-section-table-descr">
				<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Name of the rule. Used for easier rules management purpose only')%>')" onmouseout="HideHint(this)"><%=translate("Name")%></span></th>
				<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Match incoming traffic from this IP or range only')%>')" onmouseout="HideHint(this)"><%=translate("Source")%></span></th>
				<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('The destination of the packet')%>')" onmouseout="HideHint(this)"><%=translate("Destination")%></span></th>
				<th class="cbi-section-table-cell"></th>
			</tr>
			<tr class="cbi-section-table-row">
				<td class="cbi-section-table-cell" style="width:130px">
					<input type="text" class="cbi-input-text" id="_newfwd.name" name="_newfwd.name" placeholder="<%=translate('New forward rule')%>" />
				</td>
				<td class="cbi-section-table-cell" style="width:110px">
					<select class="cbi-input-text" id="_newfwd.src" name="_newfwd.src">
						<% local k, v; for k, v in ipairs(fw:get_zones()) do -%>
							<option<%=ifattr(v:name() == "lan", "selected", "selected")%> value="<%=v:name()%>"><%=v:name(1):upper()%></option>
						<%- end %>
					</select>
				</td>
				<td class="cbi-section-table-cell" style="width:110px">
					<select class="cbi-input-text" id="_newfwd.dest" name="_newfwd.dest">
						<% local k, v; for k, v in ipairs(fw:get_zones()) do -%>
							<option<%=ifattr(v:name() == "wan", "selected", "selected")%> value="<%=v:name()%>"><%=v:name(1):upper()%></option>
						<%- end %>
					</select>
				</td>
				<td class="cbi-section-table-cell left">
					<input type="submit" class="cbi-button cbi-button-link" name="_newfwd.submit" value="<%=translate('Add')%>" />
				</td>
			</tr>
		</table>

		<script type="text/javascript">//<![CDATA[
			cbi_validate_field('_newopen.extport', true, 'list(portrange)');
			cbi_bind(document.getElementById('_newopen.extport'), 'blur',
				function() {
					var n = document.getElementById('_newopen.name');
					var p = document.getElementById('_newopen.proto');
					var hints = {
					/*  port    name     0=both, 1=tcp, 2=udp, 3=other */
						22:   [ 'SSH',   1 ],
						53:   [ 'DNS',   0 ],
						80:   [ 'HTTP',  1 ],
						443:  [ 'HTTPS', 1 ],
					};

					if (!this.className.match(/invalid/))
					{
						var hint = hints[this.value || 0];
						if (hint)
						{
							p.selectedIndex = hint[1];

							if (!n.value)
								n.value = hint[0];
						}
						else if (!n.value && this.value)
						{
							n.value = 'Open' + this.value;
						}
					}
				});


			cbi_validate_field('cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>', true, 'uciname');
		//]]></script>
	<% else %>
		<input type="submit" class="cbi-button cbi-button-add" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" value="<%:Add%>" />
	<% end %>
</div>
