<div class="cbi-section-create cbi-tblsection-create">
	<br />
	<legend> <%=translate("New Port Forward Rule")%></legend>
	<br>
	<table class="cbi-section-table" style="width:100%; ">

		<tr class="cbi-section-table-descr">
			<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Name of the rule. Used for easier rules management purpose only')%>')" onmouseout="HideHint(this)"><%=translate("Name")%></span></th>
			<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Protocol type of incoming or outgoing packet')%>')" onmouseout="HideHint(this)"><%=translate("Protocol")%></span></th>
			<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Match incoming traffic directed at the given destination port or port range on this host')%>')" onmouseout="HideHint(this)"><%=translate("External port (s)")%></span></th>
			<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Redirect matched incoming traffic to the specified internal host')%>')" onmouseout="HideHint(this)"><%=translate("Internal IP")%></span></th>
			<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Redirect matched incoming traffic to the given port on the internal host')%>')" onmouseout="HideHint(this)"><%=translate("Internal port (s)")%></span></th>
			<th class="cbi-section-table-cell"><span onmouseover="ShowHint(this, '<%=translate('Match incoming traffic from this IP or range only')%>')" onmouseout="HideHint(this)"><%=translate("Source zone")%></span></th>
			<th class="cbi-section-table-cell"></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td class="cbi-section-table-cell">
				<input type="text" class="cbi-input-text" id="_newfwd.name" name="_newfwd.name" placeholder="<%=translate('New rule\'s name')%>" />
			</td>
			<td class="cbi-section-table-cell" style="width:110px">
				<select class="cbi-input-select" id="_newfwd.proto" name="_newfwd.proto">
					<option value="tcp udp"><%=translate("TCP+UDP")%></option>
					<option value="tcp"><%=translate("TCP")%></option>
					<option value="udp"><%=translate("UDP")%></option>
					<option value="other"><%=translate("Other...")%></option>
				</select>
			</td>
			<td class="cbi-section-table-cell" style="width:110px">
				<input type="text" class="cbi-input-text" id="_newfwd.extport" name="_newfwd.extport" placeholder="1800 or 2000-2200" />
			</td>
			<td class="cbi-section-table-cell" style="width:110px">
				<input type="text" style="width: 114px;" class="cbi-input-text" id="_newfwd.intaddr" name="_newfwd.intaddr" />
			</td>
			<td class="cbi-section-table-cell" style="width:110px">
				<input type="text" class="cbi-input-text" id="_newfwd.intport" name="_newfwd.intport" placeholder="1800 or 2000-2200" />
			</td>
			<td class="cbi-section-table-cell" style="width:110px">
				<select class="cbi-input-select" id="_newfwd.source" name="_newfwd.source">
					<option value="wan"><%=translate("WAN")%></option>
					<option value="lan"><%=translate("LAN")%></option>
					<option value="vpn"><%=translate("VPN")%></option>
				</select>
			</td>
			<td class="cbi-section-table-cell">
				<input type="submit" class="cbi-button cbi-button-add" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" value="<%=translate('Add')%>" />
			</td>
		</tr>
	</table>

	<script type="text/javascript">//<![CDATA[
		cbi_validate_field('_newfwd.extport', true, 'portrange');
		cbi_validate_field('_newfwd.intaddr', true, 'host');
		cbi_validate_field('_newfwd.intport', true, 'portrange');

		cbi_combobox_init('_newfwd.intaddr', {
			<% local i, e;
			a={}
			for i, dataset in ipairs(luci.sys.net.arptable()) do
				a[#a+1]=dataset["IP address"]
			end

			table.sort(a)
				for i, e in ipairs(a) do -%>
				<%- if i > 1 then %>,<% end -%>'<%=e%>': '<%=e%>'
			<%- end %> }, '', '<%: -- custom -- %>');

		cbi_bind(document.getElementById('_newfwd.extport'), 'blur',
			function() {
				var n = document.getElementById('_newfwd.name');
				var p = document.getElementById('_newfwd.proto');
				var i = document.getElementById('_newfwd.intport');
				var hints = {
				/*  port    name     0=both, 1=tcp, 2=udp, 3=other */
					21:   [ 'FTP',   1 ],
					22:   [ 'SSH',   1 ],
					53:   [ 'DNS',   0 ],
					80:   [ 'HTTP',  1 ],
					443:  [ 'HTTPS', 1 ],
					3389: [ 'RDP',   1 ],
					5900: [ 'VNC',   1 ],
				};

				if (!this.className.match(/invalid/))
				{
					if (!i.value) i.value = this.value;

					var hint = hints[this.value || 0] || hints[i.value || 0];
					if (hint)
					{
						p.selectedIndex = hint[1];

						if (!n.value)
							n.value = hint[0];
					}
					else if (!n.value)
					{
						n.value = 'Forward' + this.value;
					}
				}
			});


		cbi_validate_field('cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>', true, 'uciname');
	//]]></script>
</div>
