<%+cbi/valueheader%>

<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "system", "clock_status")%>', null,
		function(x, rv)
		{
			if (!rv && x.responseText.search("UnikalusTekstinisStringasKitoTokioNiekurNera") != -1){
				location.href=location.href;
			}
			var s = document.getElementById('<%=self.option%>-clock-status');
			if (s)
			{
				s.innerHTML = rv.timestring || '?';
			}
		}
	);

	function sync_clock(btn)
	{
		btn.disabled = true;
		btn.value = '<%=translate("Synchronizing...")%>';
		XHR.get('<%=luci.dispatcher.build_url("admin", "system", "clock_status")%>',
			{ set: (new Date().getTime())/1000},
			function()
			{
				btn.disabled = false;
				btn.value = '<%=translate("Synchronization was successful")%>';
				alert(btn.value);
			}
		);

		return false;
	}
//]]></script>

<span id="<%=self.option%>-clock-status"><em><%=translate("Collecting data...")%></em></span>
<input type="button" class="cbi-button cbi-button-apply" style="margin-right:15px;" value="<%=translate('Sync with browser')%>" onclick="return sync_clock(this)" />

<%+cbi/valuefooter%>
