/*!
 * LuCI Bootstrap Theme
 * Copyright 2012 Nut & Bolt
 * By David Menting <david@nut-bolt.nl>
 * Based on Bootstrap v1.4.0
 *
 * Copyright 2011 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html, body {
  margin: 0;
  padding: 0;
  height:90%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
code,
del,
em,
img,
q,
s,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0 0 10px 0;
  vertical-align: baseline;
  /*vertical-align: middle;*/
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*
 * Scaffolding
 * Basic and global styles for generating a grid system, structural layout, and page templates
 * ------------------------------------------------------------------------------------------- */
body {
	background-color: #c6c6c7; /* changed by HDA */
	margin: 0;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	font-size: 75%;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
	padding-top: 102px; /* changed by DAN */
}
.container {
  min-width: 940px;
  max-width: 962px;
  margin-left: auto;
  margin-right: auto;
			position:relative;
  /*padding-bottom:45px;*/
  zoom: 1;
}
.container:before, .container:after {
  display: table;
  content: "";
  zoom: 1;
}
.container:after {
  clear: both;
}
a {
  color: #2D8DC2;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
 /* color: #2D8DC2;
  text-decoration: underline;*/
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
/* Typography.less
 * Headings, body text, lists, code, and more for a versatile and durable typography system
 * ---------------------------------------------------------------------------------------- */
p,
.cbi-map-descr,
.cbi-section-descr {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
 /* padding-left: 20px;*/

}
p small {
  font-size: 11px;
  color: #bfbfbf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #404040;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #bfbfbf;
}
h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 10px;
}
h2 small {
  font-size: 14px;
}
h3,
h4,
h5,
h6 {
  line-height: 36px;
}
h3 {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 16px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase;
}
ul, ol {
  margin: 0 0 18px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
  color: #808080;
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
}
dl {
  margin-bottom: 18px;
}
dl dt, dl dd {
  line-height: 18px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 9px;
}
hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee;
}
strong {
  font-style: inherit;
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}
small { font-size: 0.9em }
address {
  display: block;
  line-height: 18px;
  margin-bottom: 18px;
}
code, pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}
pre {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* Forms.less
 * Base styles for various input types, form layouts, and states
 * ------------------------------------------------------------- */
/*form {
  margin-bottom: 60px;
}*/
fieldset {
  /*margin-bottom: 9px;*/
  padding-top: 6px;
}
fieldset legend {
	width: 99%;
	background: #e5e5e5;
	padding: 10px 0px 10px 10px;
	font-weight: bold;
	font-size: 15px;

  display: block;
  line-height: 1;
  color: #404040;


  *line-height: 1.5;
  /* IE6-7 */

}
form .clearfix,
form .cbi-value {
	/*margin-bottom: 5px;*/
	zoom: 1;
	clear: both;
	min-height:42px;
	/*height:36px;*/
}
form .clearfix:before, form .clearfix:after,
form .cbi-value:before, form .cbi-value:after  {
  display: table;
  content: "";
  zoom: 1;
}
form .clearfix:after
form .cbi-value:after {
  clear: both;
}
label,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  width: 300px;
  text-align: right;
  color: #404040;
  padding-right:10px;
  /*margin-bottom: 18px;*/
}
.cbi-value > label { float: left; }
form .input,
form .cbi-value-field {
  margin-left: 310px;
  /*margin-left: 20px;
  display: inline-flex;*/
  vertical-align: middle;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #404040;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select {
   /*padding: initial;*/
}
input[type=checkbox], input[type=radio] {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 1px 0;
  margin-top: 8px;
  *margin-top: 0;
  /* IE6-7 */

  line-height: normal;
  border: none;
}
input[type=file] {
  background-color: #ffffff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: auto;
}
input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
}
select, input[type=file] {
  height: 29px;
  *height: auto;
  line-height: 21px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
}
select[multiple] {
  height: inherit;
  background-color: #ffffff;
}
textarea {
  height: auto;
}
.uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}
input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  width:150px;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}
form .clearfix.error > label, form .clearfix.error .help-block, form .clearfix.error .help-inline {
  color: #b94a48;
}
form .clearfix.error input, form .clearfix.error textarea {
  color: #b94a48;
  border-color: #ee5f5b;
}
form .clearfix.error input:focus, form .clearfix.error textarea:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
form .clearfix.error .input-prepend .add-on, form .clearfix.error .input-append .add-on {
  color: #b94a48;
  background-color: #fce6e6;
  border-color: #b94a48;
}
form .clearfix.warning > label, form .clearfix.warning .help-block, form .clearfix.warning .help-inline {
  color: #c09853;
}
form .clearfix.warning input, form .clearfix.warning textarea {
  color: #c09853;
  border-color: #ccae64;
}
form .clearfix.warning input:focus, form .clearfix.warning textarea:focus {
  border-color: #be9a3f;
  -webkit-box-shadow: 0 0 6px #e5d6b1;
  -moz-box-shadow: 0 0 6px #e5d6b1;
  box-shadow: 0 0 6px #e5d6b1;
}
form .clearfix.warning .input-prepend .add-on, form .clearfix.warning .input-append .add-on {
  color: #c09853;
  background-color: #d2b877;
  border-color: #c09853;
}
form .clearfix.success > label, form .clearfix.success .help-block, form .clearfix.success .help-inline {
  color: #468847;
}
form .clearfix.success input, form .clearfix.success textarea {
  color: #468847;
  border-color: #57a957;
}
form .clearfix.success input:focus, form .clearfix.success textarea:focus {
  border-color: #458845;
  -webkit-box-shadow: 0 0 6px #9acc9a;
  -moz-box-shadow: 0 0 6px #9acc9a;
  box-shadow: 0 0 6px #9acc9a;
}
form .clearfix.success .input-prepend .add-on, form .clearfix.success .input-append .add-on {
  color: #468847;
  background-color: #bcddbc;
  border-color: #468847;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
}
.actions,
.cbi-page-actions {
  background: #f5f5f5;
  margin-bottom: 18px;
  padding: 17px 20px 45px 20px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.actions .secondary-action,
.cbi-page-actions .secondary-action{
  float: right;
}
.actions .secondary-action a,
.cbi-page-actions .secondary-action a {
  line-height: 30px;
}
.actions .secondary-action a:hover,
.cbi-page-actions .secondary-action a:hover {
  text-decoration: underline;
}
.help-inline, .help-block {
  font-size: 13px;
  line-height: 18px;
  color: #bfbfbf;
}
.help-inline {
  padding-left: 5px;
  *position: relative;
  /* IE6-7 */

  *top: -5px;
  /* IE6-7 */

}
.help-block {
  display: block;
  max-width: 600px;
}
/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  font-size: 13px;
  border-collapse: collapse;
}
table th, table td {
  padding: 10px 0px 9px 10px;
  line-height: 18px;
  text-align: left;
}
table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
}
table td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}
table tbody th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}
/* Patterns.less
 * Repeatable UI elements outside the base styles provided from the scaffolding
 * ---------------------------------------------------------------------------- */
header {
	font-family: Arial,Helvetica,Verdana,sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
	color: #ffffff;
  height: 90px;
  padding-top: 10px;
	background-color: #C6C6C7;
	background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#EBF2F8), to(#C6C6C7));  
	background-image: -moz-linear-gradient(top , #EBF2F8, #C6C6C7); /* Firefox */
	background-image: -ms-linear-gradient(top, #EBF2F8, #C6C6C7); /* IE10 */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EBF2F8), color-stop(100%, #C6C6C7));
	background-image: -webkit-linear-gradient(top , #EBF2F8, #C6C6C7); /* Safari, Chrome */
	background-image: -o-linear-gradient(#EBF2F8, #C6C6C7); /* Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EBF2F8', endColorstr='#C6C6C7');/*For IE7-8-9*/
	background-image: linear-gradient(#EBF2F8, #C6C6C7); /* W3C Standard */	
	zoom: 1;
}
.act header a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
header a {
  color: #535B68;
  font-size: 1.2em;
  font-weight: bold;
}
header h3 a:hover, header .brand:hover, header ul .active > a {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  text-decoration: none;
}
header h3 {
  position: relative;
}
header h3 a, header .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}
header p {
  margin: 0;
  line-height: 40px;
}
header .fill {
  display: block;
	width: 962px;
  height: 80px;
  border-top: 10px solid #2D8DC2;
  border-radius: 10px 10px 0 0;
	margin: auto;
	background-color: #2B8BC0;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#2D8DC2), to(#2B8BC0));
	background-image: -moz-linear-gradient(top, #2D8DC2, #2B8BC0);
	background-image: -ms-linear-gradient(top, #2D8DC2, #2B8BC0);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2D8DC2), color-stop(100%, #2B8BC0));
	background-image: -webkit-linear-gradient(top, #2D8DC2, #2B8BC0);
	background-image: -o-linear-gradient(top, #2D8DC2, #02B8BC0);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#2D8DC2', endColorstr='#2B8BC0');
	background-image: linear-gradient(top, #2D8DC2, #2B8BC0);
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

header div > ul, .nav {
	display: block;
	position: fixed;
  top: 76px;	
  margin: 0px;
  height: 26px;
  width: 860px;
  padding-left: 102px;
  background-repeat: x-repeat;
  background-position: top left;
  background-image: url("../resources/nav_bg.gif");
}

header div > ul > li:last-child a {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../resources/logout.png");
  padding-right: 36px;
}

/* header div > ul > li:last-child, .nav > li:last-child { */
/* header div>ul>li:last-child, .nav>li:last-child { */
header div > ul > li.logout {
	float: right !important;
	padding: 0px 10px;
	margin-right: 26px;
}
header div > ul > li.expert-0, header div > ul > li.expert-1{
	float: right !important;
	padding: 0px 10px;
	margin-right: 104px;
}

header div > ul > li.expert-0 a {
	color: #AA5555;
}
header div > ul > li.expert-1 a {
	color: #55AA55;
}

header div > ul > li.act{
  background-repeat: repeat-x;
  background-position: left center;
  background-image: url("../resources/nav_bg_act.gif");
}

header div > ul > li.act > a{
  color: #ffffff;
}

header div > ul > li:hover {
  background: #ffffff;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

header div > ul > li, .nav > li {
	display: block;
	float: left;
}

header div > ul a, .nav a {
	display: block;
	padding: 0px 10px;
	line-height: 26px;
	text-decoration: none;
}

header div > ul a:hover, .nav a:hover {
	color: #2D8DC2;
	text-decoration: none;
}

header div > ul .active > a, .nav .active > a {
	background-color: #ffffff;
}

header div > ul.secondary-nav, .nav.secondary-nav {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
header div > ul.secondary-nav .menu-dropdown,
.nav.secondary-nav .menu-dropdown,
header div > ul.secondary-nav .dropdown-menu,
.nav.secondary-nav .dropdown-menu {
  right: 0;
  border: 0;
}
header div > ul a.menu:hover,
.nav a.menu:hover,
header div > ul li.open .menu,
.nav li.open .menu,
header div > ul .dropdown-toggle:hover,
.nav .dropdown-toggle:hover,
header div > ul .dropdown.open .dropdown-toggle,
.nav .dropdown.open .dropdown-toggle {
  background: rgba(255, 255, 255, 0.05);
}
header div > ul .menu-dropdown,
.nav .menu-dropdown,
header div > ul .dropdown-menu,
.nav .dropdown-menu {
  background: #ffffff;
}
header div > ul .menu-dropdown a.menu,
.nav .menu-dropdown a.menu,
header div > ul .dropdown-menu a.menu,
.nav .dropdown-menu a.menu,
header div > ul .menu-dropdown .dropdown-toggle,
.nav .menu-dropdown .dropdown-toggle,
header div > ul .dropdown-menu .dropdown-toggle,
.nav .dropdown-menu .dropdown-toggle {
  color: #ffffff;
}
header div > ul .menu-dropdown a.menu.open,
.nav .menu-dropdown a.menu.open,
header div > ul .dropdown-menu a.menu.open,
.nav .dropdown-menu a.menu.open,
header div > ul .menu-dropdown .dropdown-toggle.open,
.nav .menu-dropdown .dropdown-toggle.open,
header div > ul .dropdown-menu .dropdown-toggle.open,
.nav .dropdown-menu .dropdown-toggle.open {
  background: rgba(255, 255, 255, 0.05);
}
header div > ul .menu-dropdown li a,
.nav .menu-dropdown li a,
header div > ul .dropdown-menu li a,
.nav .dropdown-menu li a {
  color: #555555;
}
header div > ul .menu-dropdown li a:hover,
.nav .menu-dropdown li a:hover,
header div > ul .dropdown-menu li a:hover,
.nav .dropdown-menu li a:hover {
  color: #2D8DC2;
}
header div > ul .menu-dropdown .active a,
.nav .menu-dropdown .active a,
header div > ul .dropdown-menu .active a,
.nav .dropdown-menu .active a {
  color: #ffffff;
}
header div > ul .menu-dropdown .divider,
.nav .menu-dropdown .divider,
header div > ul .dropdown-menu .divider,
.nav .dropdown-menu .divider {
  background-color: #222;
  border-color: #444;
}
header ul .menu-dropdown li a, header ul .dropdown-menu li a {
  padding: 4px 15px;
  font-size: 1.1em;
}

 li a b {
  color:#2D8DC2;
}

li.act:hover a.menu {
  color: #535B68;
}

li.menu, .dropdown {
  position: relative;
  height:26px;
}
a.menu:after, .dropdown-toggle:after {
	width: 0;
	height: 0;
	display: inline-block;
	content: "&darr;";
	text-indent: -99999px;
	vertical-align: middle;
	margin-left: 4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #ffffff;
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.menu-dropdown, .dropdown-menu {
  background-color: #ffffff;
  float: left;
  display: none;
  position: absolute;
  top: 26px;
  z-index: 900;
  min-width: 153px;
  max-width: 220px;
  _width: 160px;
  margin-left: -1px;
  margin-right: 1px;
  padding: 6px 0;
  zoom: 1;
  border-color: #555555;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0 1px 1px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.menu-dropdown li, .dropdown-menu li {
  float: none;
  display: block;
  background-color: none;
}
.menu-dropdown .divider, .dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #eee;
  border-bottom: 1px solid #ffffff;
}
header .dropdown-menu a, .dropdown-menu a {
  display: block;
  padding: 4px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #808080;
  text-shadow: 0 1px 0 #ffffff;
}
header .dropdown-menu a:hover,
.dropdown-menu a:hover,
header .dropdown-menu a.hover,
.dropdown-menu a.hover {
  background-color: #dddddd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(top, #eeeeee, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
  color: #2D8DC2;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
}
.open .menu,
.dropdown.open .menu,
.open .dropdown-toggle,
.dropdown.open .dropdown-toggle {
  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.open .menu-dropdown,
.dropdown.open .menu-dropdown,
.open .dropdown-menu,
.dropdown.open .dropdown-menu {
  display: block;
}
.dropdown:hover ul.dropdown-menu {
  display: block;
}
.dropdown-menu .dropdown-menu {
    position: absolute;
    left: 159px;
}
.dropdown-menu li {
    position: relative;
}
.tabs, .cbi-tabmenu {
  margin: 0 0 18px;
  padding: 0;
  list-style: none;
  zoom: 1;
}
.tabs:before,
.cbi-tabmenu:before,
.tabs:after,
.cbi-tabmenu:after {
  display: table;
  content: "";
  zoom: 1;
}
.tabs:after, .cbi-tabmenu:after {
  clear: both;
}
.tabs > li, .cbi-tabmenu > li {
  float: left;
  background-color: #CCCCCC;
}
.tabs > li > a, .cbi-tabmenu > li > a {
  display: block;
}
.tabs,
.cbi-tabmenu {
  border-color: #A1A1A1;
  border-style: solid;
  border-width: 0 0 1px;
}
.tabs > li,
.cbi-tabmenu > li {
  position: relative;
  margin-bottom: -1px;
}
.tabs > li > a,
.cbi-tabmenu > li > a {
  padding: 0 15px;
  /*margin-right: 2px;*/
  line-height: 34px;
  border-top: 1px solid /*transparent*/;
  border-right: 1px solid /*transparent*/;
  border-bottom: 0px solid /*transparent*/;
  border-left: 0px solid /*transparent*/;
  border-color: #c1c1c1 #A2A2A2;
  /*-webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;*/
  color:#000;
  font-weight: bold;
  font-size: 14px;
}
.tabs > li > a:hover,
.cbi-tabmenu > li.cbi-tab-disabled > a:hover {
  text-decoration: none;
  background-color: #2D8DC2;
  border-color: #c1c1c1 #A1A1A1;
  color: #FFFFFF;
}
.tabs .active > a, .tabs .active > a:hover,
.cbi-tabmenu .active > a, .cbi-tabmenu .active > a:hover,
.cbi-tab > a:link, .cbi-tab > a:hover {
  color: #328DD7;
  background-color: #ffffff;
  border: 1px solid #A1A1A1;
  border-bottom-color: transparent;
  cursor: default;
}
ul.tabs
{
   background-color: #EEEEEE;
}
.cbi-tab-disabled
{
   background-color: #c8c8c8;
}
.tabs .menu-dropdown, .tabs .dropdown-menu,
.cbi-tabmenu .menu-dropdown, .cbi-tabmenu .dropdown-menu {
  top: 35px;
  border-width: 1px;
  /*-webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;*/
}
.tabs a.menu:after, .tabs .dropdown-toggle:after,
.cbi-tabmenu a.menu:after, .cbi-tabmenu .dropdown-toggle:after {
  border-top-color: #999;
  margin-top: 15px;
  margin-left: 5px;
}
.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle,
.cbi-tabmenu li.open.menu .menu, .cbi-tabmenu .open.dropdown .dropdown-toggle {
  border-color: #999;
}
.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after,
.cbi-tabmenu li.open a.menu:after, .cbi-tabmenu .dropdown.open .dropdown-toggle:after {
  border-top-color: #555;
}
.tab-content > .tab-pane,
.tab-content > div {
  display: none;
}
.tab-content > .active {
  display: block;
}
.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  background-color: #f5f5f5;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb li {
  display: inline;
  text-shadow: 0 1px 0 #ffffff;
}
.breadcrumb .divider {
  padding: 0 5px;
  color: #bfbfbf;
}
.breadcrumb .active a {
  color: #404040;
}
footer {
  margin-top: 7px;
  border-top: 1px solid #c2c2c2;
  width: 940px;
  padding: 17px 0 15px 0;
position: relative;
bottom: 0px;
height: 20px;
background:#fff;
margin-left: auto;
margin-right: auto;
border-top: 1px solid #CCCCCC;
bottom: 60px;
}
.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
  color: #ffffff;
}
.btn .close, .alert-message .close {
  font-family: Arial, sans-serif;
  line-height: 18px;
}
.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn,
.cbi-button {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 3px 28px 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.cbi-button:hover {
  color: #333;
  text-decoration: none;
}
.btn:focus,
.cbi-button:focus {
  outline: 1px dotted #666;
}
.btn.primary,
.cbi-page-actions .cbi-button-apply,
.cbi-page-actions .cbi-button-save{
  color: #000;
  background-color: #a4a4a4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e2e2e2), to(#a4a4a4));
  background-image: -moz-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image: -ms-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #a4a4a4));
  background-image: -webkit-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image: -o-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image: linear-gradient(top, #e2e2e2, #a4a4a4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#a4a4a4', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #000 #000 #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
}
.btn.active, .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}
/* Button icons for specific pages */
.Startup .cbi-section-table input.cbi-input-apply,
.Startup .cbi-section-table input.cbi-button-apply {
    background-image: url("../resources/cbi/apply.gif");
    background-position: 7px 4px;
    padding: 3px 9px 3px 27px;
}
.Processes .cbi-section-table input.cbi-input-reload,
.Startup .cbi-section-table input.cbi-input-reload {
    background-image: url("../resources/cbi/reload.gif");
    background-position: 7px 4px;
    padding: 3px 9px 3px 27px;
}
.Processes .cbi-section-table input.cbi-input-remove,
.Processes .cbi-section-table div.cbi-section-remove input,
.Startup .cbi-section-table input.cbi-input-remove,
.Startup .cbi-section-table div.cbi-section-remove input  {
    background-image: url("../resources/cbi/remove.gif");
    background-position: 7px 4px;
    padding: 3px 9px 3px 27px;
}
.Processes .cbi-section-table input.cbi-input-reset,
.Processes .cbi-section-table input.cbi-button-reset,
.Startup .cbi-section-table input.cbi-input-reset,
.Startup .cbi-section-table input.cbi-button-reset  {
    background-image: url("../resources/cbi/reset.gif");
    background-position: 7px 4px;
    padding: 3px 9px 3px 27px;
}
.Startup .cbi-section-table input.cbi-input-save,
.Startup .cbi-section-table input.cbi-button-save {
    background-image: url("../resources/cbi/save.gif");
    background-position: 7px 4px;
    padding: 3px 9px 3px 27px;
}
:root .alert-message, :root .btn {
  border-radius: 0 \0;
}
button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.close {
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.alert-message {
  position: relative;
  font-size: 15px;
  padding: 10px 10px;
  margin-bottom: 18px;
  color: #404040;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.alert-message .close {
  margin-top: 1px;
  *margin-top: 0;
}
.alert-message a {
  font-weight: bold;
  color: #404040;
}
.alert-message.danger p a,
.alert-message.error p a,
.alert-message.success p a,
.alert-message.info p a {
  color: #ffffff;
}
.alert-message h5 {
  line-height: 18px;
}
.alert-message p {
  margin-bottom: 0;
}
.alert-message div {
  margin-top: 5px;
  margin-bottom: 2px;
  line-height: 28px;
}
.alert-message .btn {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.label {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff !important;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
}
a.label:link,
a.label:visited {
  color: #ffffff;
}
a.label:hover {
  text-decoration: none;
}
.label.important {
  background-color: #c43c35;
}
.label.warning {
  background-color: #f89406;
}
.label.success {
  background-color: #46a546;
}
.label.notice {
  background-color: #62cffc;
}
/* LuCI specific items */
.hidden { display: none }
.left { text-align: left !important; }
.right { text-align: right !important; }
form.inline { display: inline }
/* LuCI specific overrides for backward-compatibility */
#memtotal > div,
#memfree > div,
#memcache > div,
#membuff > div,
#conns > div  {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #808080;
    font-size: 13px;
    height: 22 dpx;
    line-height: 18px;
}
#xhr_poll_status {
    cursor: pointer;
}
header .pull-right { padding-top: 8px; }
#modemenu li:last-child span.divider { display: none }
#syslog {
	width: 100%;
 	min-height: 400px;
 	min-width: 70%;
	height: 550px;
}
.cbi-section-table tbody tr:nth-child(odd) td, .cbi-section-table tbody tr:nth-child(odd) th {
  background-color: #f5f5f5;
}
.cbi-section-table tbody tr:hover td, .cbi-section-table tbody tr:hover th  {
  background-color: #f5f5f5;
}

.cbi-section-table5 tbody tr:hover td, .cbi-section-table5 tbody tr:hover th  {
  background-color: #f5f5f5;
}

input[type=image] { height: auto; width: auto !important; padding: 0 !important }

/*======= prirasyta naujai ========= */

div.overlayLegend{
    /*display: block;
    font-size: 19.5px;
    line-height: 1;
    color: #404040;*/
  width: 99%;
	background: #e5e5e5;
	padding: 10px 0px 10px 10px;
	font-weight: bold;
	font-size: 15px;

  display: block;
  line-height: 1;
  color: #404040;


}


/*input.cbi-button-reset {
    float:right;
} */

.cbi-button-up {
	background-position: center center;
	background-image: url('../resources/cbi/up.gif'), -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: url('../resources/cbi/up.gif'), -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	padding: 4px 10px;
}

.cbi-button-down {
	background-position: center center;
	background-image: url('../resources/cbi/down.gif'), -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: url('../resources/cbi/down.gif'), -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	padding: 4px 10px;
}

#logoImage {
	background-color: #ffffff;
	clear: both;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	height:100%;
}

#maincontent {
	background-color: #fff; /* changed by HDA */
	clear: both;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 70px 10px;
	border: 1px solid #d5d5d5;
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

#maincontent input.cbi-button-apply {
    float:right;
}

.cbi-button-save{
    float:right;
}

div.container img.logo{
	z-index: 999;
	position:relative;
	margin-top: 16px;
	margin-left: 20px;
	float:left;
}
input.cbi-button-reset1 {
float:left;
}
input.cbi-button-apply1 {
	float:left;
	margin-bottom: 10px;
	}
input#archive {
	margin-bottom: 10px;
}
input#image {
	margin-bottom: 10px;
}
input#cbid.network.lan.dns textarea{
	float:left;
}

/* div.container ul.nav li a.logout{ */
div.container ul.nav li.logout a {
position: absolute;
right: 10px;
}

/*div.container ul.nav li img.imglogout{
display: block;
float: none;
padding: 10px 0px 11px;
line-height: 19px;
text-decoration: none;
position: absolute;
right: 0px;
}  */

a#content{
 font-size:20px;
 color: #2D8DC2;
 margin-left: 20px;
 text-shadow: 1px 1px 2px #CCCCCC;
}

footer.mdex {
 color: grey;
}

footer.mdex a{
 	padding-right:10px;
	float:right;
	color: grey;
}

footer.mdex a:hover{
	color: #2D8DC2;
}

footer.mdex a1{
 padding-left:10px;
}

.cbi-value-description{
	/*margin-top:5px;*/
	/*display: inline-flex;  */
	display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
	align-items: center;
	vertical-align: top;

	position: relative;
	top: 6px;
}

.cbi-button-refresh {
  color: #000;
  background:right center  no-repeat ;

  background-image:url('../resources/cbi/refresh71.png'),  -khtml-gradient(linear, left top, left bottom, from(#e2e2e2), to(#a4a4a4));
  background-image:url('../resources/cbi/refresh71.png'),  -moz-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image:url('../resources/cbi/refresh71.png'),  -ms-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image:url('../resources/cbi/refresh71.png'),  -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #a4a4a4));
  background-image:url('../resources/cbi/refresh71.png'),  -webkit-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image:url('../resources/cbi/refresh71.png'),  -o-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image:url('../resources/cbi/refresh71.png'),  linear-gradient(top, #e2e2e2, #a4a4a4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#a4a4a4', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #000 #000 #000;
  border-color: rgba(6, 5, 5, 0.44) rgba(6, 5, 5, 0.44) rgba(6, 5, 5, 0.44) ;

  border-width: 1px;
  border-style: solid;
  padding: 4px 27px 3px 10px;
  border-radius: 4px;
}

.cbi-button-reset2,
.cbi-button-apply2 {
  color: #000;
  background-color: #a4a4a4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e2e2e2), to(#a4a4a4));
  background-image: -moz-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image: -ms-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #a4a4a4));
  background-image: -webkit-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image: -o-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image: linear-gradient(top, #e2e2e2, #a4a4a4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#a4a4a4', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #000 #000 #000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
}

span.cbi-value-helpicon{
	/*float:left;*/
	margin-right: 5px;
	margin-left: 4px;
	/*padding-bottom: 4px;*/
	/*margin-top: 6px;*/
}
fieldset#cbi-network-route6{
	margin-top:9px;
}

#maincontainer{
 	margin: 0% 10%;
}

#maincontainer div.spin_wrapper{
	position: relative;
	top: 100px;
}

#maincontainer fieldset.cbi-section{
	/*margin-top:35%;*/
	/*height:550px;*/
	height: 85%;
	min-height: 400px;
}

a#profile-link{
	font-size: 10px;
	padding: 0 10px;
	
}
a#profile-link i {
	color:#0099ff;
}
a#profile-link i.modified:after {
	content: "[mod]";
	padding-left: 3px;
}
.profiles {
	max-height: 26px;
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
}

.loginpage{
 margin-left: 80px;
 margin-top: 15px;
}
.cbi-button-apply3{
 margin-bottom: 10px;
}
.cbi-value-title1{
	width: 0px;
	margin-top: -1px;
}
.cbi-value-field1{
margin-left:80px;
}
.cbi-value-field img{
	width: 16px;
	height: 16px;
	/*margin-top: 7px;*/
	/*margin-left: 7px;*/
}
/*#cbi-network-wan-ifname{
	margin-bottom:50px;
}*/

label.enthcon{
	position: relative;
	bottom: 3.5px;
}
label.enthcon img{
	padding-top:0px;
}

.cbi-button-add{
	vertical-align:bottom;
}

#_time-clock-status{
	position: relative;
	top: 8px;
	z-index: 1;
}
.cbi-value-field input.cbi-button-apply{
	position: relative;
	top: 3px;
	z-index: 1;
}


.cbi-image-button{
	padding-left: 7px;
	position: relative;
	top: 3px;
	/*z-index: 1;*/
}

p1{
	position:relative;
	top: 250px;
	left: 390px;
	/-index:2000000000;
}
p2 {
	position:relative;
	top: 290px;
	left: 192px;
	z-index:2000000000;
}
p3{
/* 	position:relative;
	top: 530px;
	left: 5px; */
	margin-left:10px;
	z-index:2000000000;
}


.hint
{
border-radius: 4px;
		margin-top: 12px;
        position : absolute;
        background : #e1f0ff;
        border : 1px solid #4DB8FF;
        padding : 6px;
}

#cbi-network-wan-ifname
{
	height:auto;
}


/* ant refresh button lipduko uzdejimas*/
button[disabled=disabled], button:disabled {
   color:#a4a4a4;

  background:right center  no-repeat ;

  background-image:url('../resources/cbi/refreshing.png'),  -khtml-gradient(linear, left top, left bottom, from(#e2e2e2), to(#a4a4a4));
  background-image:url('../resources/cbi/refreshing.png'),  -moz-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image:url('../resources/cbi/refreshing.png'),  -ms-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image:url('../resources/cbi/refreshing.png'),  -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #a4a4a4));
  background-image:url('../resources/cbi/refreshing.png'),  -webkit-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image:url('../resources/cbi/refreshing.png'),  -o-linear-gradient(top, #e2e2e2, #a4a4a4);
  background-image:url('../resources/cbi/refreshing.png'),  linear-gradient(top, #e2e2e2, #a4a4a4);

}
/* add delete icon aukscio reguliavimas */
#cbi-network-wan-dns, #cbi-network-lan-dns,
#cbi-dhcp-lan-dhcp_option, #cbi-vrrpd-vid1-virtual_ip,
#cbi-vrrpd-vid2-virtual_ip
{
	height:auto;
}

span.pg-selected{
   font-weight: bold;
   font-size: 14px;
}
table thead tr{
	background-color: #F5F5F5;
	border-top: 1px solid #DDD;

}
/*panaikinta del enentlog
 * table thead tr th{
	width: 30%;
}*/

#TableDable_footer li.table-page[disabled]{
	display:none !important;
}
#TableDable_body{
	  border-bottom: 1px solid #DDD;
}
#TableDable_header div div spam{
	margin-left:10px;
}
#TableDable_page_next{
	cursor:pointer
}
#TableDable_page_prev{
	cursor:pointer
}
#cbi-rc-1-rc_upl, #cbi-rc-1-rc_upl_button,
#cbi-rc-1-rc_downl{
	position: relative;
	top: 20px;
}
#user-script-reset{
	position: relative;
	bottom: 140px;
}
#user-script-submit{
	position: relative;
	bottom: 175px;
}
#cbi-periodic_reboot-periodic_reboot-day, #cbi-coovachilli-cfg044f2a-day{
	margin-bottom:15px;
}
#cbi-openvpn-client{
	width: 940px;
}
.applyChanges{
	float:right;
}
.cbi-input-invalid{
	outline: 0;
	border-color: rgba(255, 0, 0, 1);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(255, 0, 0, 1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(255, 0, 0, 1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(255, 0, 0, 1);
}


/*======= FW update lentele ========= */
.cbi-section-table2{
	margin-top: -7px;
	margin-bottom: 10px;
}
.cbi-section-table2 tbody tr:hover td, .cbi-section-table2 tbody tr th:hover {
	background-color: #f5f5f5;
}
table.cbi-section-table2 td {
	width:50%;
}

.cbi-section-table3 td:hover{
	background-color: #f5f5f5;
}
/*======= Qos lentele ========= */
#cbi-interface{
	margin-left: 10px;
}
#cbi-div-interface{
	margin-bottom: 10px;
}

/*------- Scheduler table ---------*/
table.scheduler_table td {
	border: 1px solid #ddd;
}

table.scheduler_table td.schedule_dout1 {
	background-color: #FFA500;
}

table.scheduler_table td.schedule_dout2 {
	background-color: #800080;
}

table.scheduler_table td.schedule_all {
	background-color: #328DD7;
}

#cbi-auto_update-auto_update-hours{
	margin-top: 15px;
}
div.disclaimer_msg{
	color: #808080;
	font-style: italic;
	font-size: 10px;
}

/*======= Network Topology =======*/
.cbi-network-topology{
	position: relative;
	text-align: center;
}
.cbi-network-topology-box, .cbi-network-topology-box-empty{
	width: 162px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding-right: 0px;
	padding-bottom: 1%;
	word-wrap: break-word;
	height: 100%;
}
.cbi-network-topology-box{
	border-top: 1px solid rgb(150, 150, 150);
}
#cbi-network-topology-box-left{
	border-left: 1px solid rgb(150, 150, 150);
}
#cbi-network-topology-box-right{
	border-right: 1px solid rgb(150, 150, 150);
	padding-bottom: 2%;
}
#cbi-network-topology-box-right-bottom{
	border-right: 1px solid rgb(150, 150, 150);
}

.cbi-network-topology-box-top{
	width: 50%;
	height: 20px;
	border-right: 1px solid rgb(150, 150, 150);
}
.cbi-network-topology-box img, .cbi-network-topology-box-empty img{
	width: 40px;
	height: 40px;
}
.cbi-network-topology-status{
	position: relative;
	text-align: center;
}

.cbi-network-topology-line{
	border-left: 1px solid rgb(150, 150, 150);
	background:white;
	width: 3px;
	height: 20px;
	padding-bottom: 1px;
}
.cbi-network-topology-button{
	margin-bottom: 0px;
	background-color: #e5e5e5;
	border: 0px;
	color: #404040;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	font-size: 14px;
	padding: 0px;
	font-weight:bold;
}
.cbi-network-topology-row{
	position: relative;
    display: inline-table;
}
.cbi-network-topology-top-half{
	width: 100%;
	display: inline-block;
	margin-bottom: -2px;
}
.cbi-network-topology-size{
	height: 100%;
}
#cbi-network-topology-left, #cbi-network-topology-right{
	width: 50%;
	border-top: 1px solid rgb(150, 150, 150);
	height: 20px;
}
#cbi-network-topology-left{
	float: left;
	border-right: 1px solid rgb(150, 150, 150);
}
#cbi-network-topology-right{
	float: right;
	border-left: 1px solid rgb(150, 150, 150);
}
#cbi-network-topology-straight{
	width: 50%;
	float: right;
	border-left: 1px solid rgb(150, 150, 150);
	height: 20px;
}
#cbi-network-topology-war-ip:hover, cbi-network-topology-war-ip:active{
	color: rgb(150, 150, 150) !important;
}
.cbi_network-topology-red{
	color: rgb(255, 73, 73) !important;
}
#topology-buttons-section{
	padding-left: 20px;
}
#topology-button-section-wan{
	float: left;
	width: 80px;
}
#topology-backup-left, #topology-backup-right{
	width:25%;
	height:20px;
	border-bottom:1px solid rgb(150,150,150);
}
#topology-backup-left{
	float:right;
	border-left:1px solid rgb(150,150,150);
}
#topology-backup-right{
	float: left;
	border-right: 1px solid rgb(150,150,150);
}
#topology-backup-bottom{
	width: 50%;
	height: 20px;
	border-right: 1px solid rgb(150,150,150);
}
#topology-backup-dashed-bottom{
	width: 25%;
	height: 20px;
	border-right: 1px solid rgb(150,150,150);
	border-right-style:dashed;
}
#topology-backup-dashed-left, #topology-backup-dashed-right{
	width:25%;
	height:20px;
	border-bottom:1px solid rgb(150,150,150);
	border-bottom-style:dashed;
}
#topology-backup-dashed-left{
	float:right;
	border-left:1px solid rgb(150,150,150);
	border-left-style:dashed;
}
#topology-backup-dashed-right{
	float: left;
	border-right: 1px solid rgb(150,150,150);
	border-right-style:dashed;
}
/*======= Overview icon =======*/
.overview-mini-info_icon{
	height: 15px;
	display: inline-block;
	width: 15px;
	margin-top: -20px;
	background:transparent url('../resources/icons/info1_12px.png') no-repeat;
}
.overview-mini-info_icon:hover{
	background-image: url('../resources/icons/info3_12px.png');
	
}
.overview-mini-settings_icon{
	height: 15px;
	display: inline-block;
	width: 15px;
	margin-top: -20px;
	margin-left: -3px;
	background:transparent url('../resources/icons/settings4_12px.png') no-repeat;
}
.overview-mini-settings_icon:hover{
	background-image: url('../resources/icons/settings3_12px.png');
	
}
/*======= For text area =======*/
.cbi-input-textarea{
	max-width: 550px;
	max-height: 300px;
}
.custom_link { cursor: pointer; }

.custom_link_active { cursor: default; }

/*============ for sms-utilities example ==============*/
[id*='-getinfo_']{
	margin-left: 310px;
	line-height: 13px;
	font-size: 12px;
	color: #808080;
	min-height: 24px !important;
}
/*============ for Wimax ==============*/
.wimaxErrorLink{
	color:#CC3333;
	font-size: 13px;
	font-weight: normal;
}
