<%-
	local sys = require "luci.sys"
	local fs = require "luci.fs"
	local util = require "luci.util"
	local uci = require "luci.model.uci".cursor()
	local ntm = require "luci.model.network"
	local translate, translatef = luci.i18n.translate, luci.i18n.translatef
	require "luci.tools.status"
	local dev_name="radio0"
	local expertMode = uci:get("system", "system", "expert")

function encryption(enc)
	local ent
	if enc == "none" then
		ent = translate("no encryption")
	elseif enc == "wep-open" then
		ent = translate("WEP open system")
	elseif enc == "wep-shared" then
		ent = translate("WEP shared key")
	elseif enc == "psk" then
		ent = translate("WPA-PSK")
	elseif enc == "psk2" then
		ent = translate("WPA2-PSK")
	elseif enc == "psk-mixed" then
		ent = translate("WPA-PSK/WPA2-PSK mixed mode")
	else
		ent = enc
	end
	return ent
end

function iwinfo_data(data, name)
	local return_value = ""
	for i=1, #data do
		if name == data[i]["name"] then
			return_value = data[i]
		end
	end
	return return_value
end

	ntm.init(uci)
	local tmp = {}
	local device = ntm:get_wifidev(dev_name)
	tmp = device:get_wifinets()
	local netlist = { }
	local info={}
	info["sta"]={}
	info["ap"]={}
	info["sta"]["device"]=0
	info["sta"]["disabled"]=0
	info["ap"]["device"]=0
	info["ap"]["disabled"]=0
	if luci.http.formvalue("status") == "1" then
		local iwinfo = { }
		local net
		local netdevs = { }
		local id
		iwinfo =ntm:iwinfo_parser()
		for _, net in ipairs(tmp) do
			id=#netlist+1
			netlist[id] = {}
			netlist[id]["id"] = net:id()
			netlist[id]["ssid"] = net["iwdata"]["ssid"]
			netlist[id]["sid"] = net["sid"]
			netlist[id]["mode"] = net["iwdata"]["mode"]
			netlist[id]["netid"] = net["netid"]
			netlist[id]["encryption"] = encryption(net["iwdata"]["encryption"])
			netlist[id]["disabled"] = net["iwdata"]["user_enable"]
			netlist[id]["cfg_name"] = net["iwdata"][".name"]
			test=iwinfo_data(iwinfo, netlist[id]["ssid"])
			if test~=nil and test["signal"]~= nil then
				netlist[id]["signal"] =test["signal"]
			else
				netlist[id]["signal"]="-1"
			end
			if (netlist[id]["mode"]=="ap" or netlist[id]["mode"]=="sta") then
				info[netlist[id]["mode"]]["device"]=info[netlist[id]["mode"]]["device"]+1
				if (netlist[id]["disabled"]=="0") then
					info[netlist[id]["mode"]]["disabled"]=info[netlist[id]["mode"]]["disabled"]+1
				end
			end
		end
		netdevs={
			info=netlist,
			ap_sta=info
			}
		luci.http.prepare_content("application/json")
		luci.http.write_json(netdevs)
		return
	end
	for _, net in ipairs(tmp) do
		id=#netlist+1
		netlist[id] = {}
		netlist[id]["mode"] = net["iwdata"]["mode"]
		netlist[id]["ssid"] = net["iwdata"]["ssid"]
		netlist[id]["netid"] = net["netid"]
		netlist[id]["sid"] = net["sid"]
		netlist[id]["disabled"] = net["iwdata"]["user_enable"]
		if (netlist[id]["mode"]=="ap" or netlist[id]["mode"]=="sta") then
			info[netlist[id]["mode"]]["device"]=info[netlist[id]["mode"]]["device"]+1
			if (netlist[id]["disabled"]=="0") then
				info[netlist[id]["mode"]]["disabled"]=info[netlist[id]["mode"]]["disabled"]+1
			end
		end
	end

	local wan_wifi_enabled = false
	uci:foreach("network", "interface", function(sct)
		if sct.ifname then
			if sct.ifname:match("wlan") then
				if not sct.enabled or (sct.enabled and sct.enabled == "1") then
					wan_wifi_enabled = true
				end
			end
		end
	end)

	
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=REQUEST_URI%>', { status: 1 },
		function(x, netdevs){
			if(netdevs){
				info=netdevs.info;
				ap_sta=netdevs.ap_sta;

				var s = document.getElementById('ap_iw-upstate');
				if( ap_sta["ap"]["device"]==ap_sta["ap"]["disabled"]){
					s.src="<%=resource%>/icons/wifi_big_disabled.png";
				}else
					s.src="<%=resource%>/icons/wifi_big.png";
				var s = document.getElementById('sta_iw-upstate');
				if (s) {
					if( ap_sta["sta"]["device"]==ap_sta["sta"]["disabled"]){
						s.src="<%=resource%>/icons/wifi_big_disabled.png";
					}else
						s.src="<%=resource%>/icons/wifi_big.png";
				}
				for( var i = 0; i < info.length; i++ ){
					var s = document.getElementById(info[i]["sid"]+'-iw-signal');
					if (s){
						if (info[i]["signal"] < 0)
							icon = "<%=resource%>/icons/wifi_disabled.png";
						else
							icon = "<%=resource%>/icons/wifi.png";
							s.innerHTML = String.format('<img src="%s" title="<%=translate("Signal")%>" style="margin-left: auto; display:inline-block;"/>', icon);
					}
					var s = document.getElementById(info[i]["sid"]+'-iw-status');
					if (s){
						s.innerHTML = String.format('<strong><%=translate("SSID")%>:</strong> %s <br/> <strong><%=translate("Encryption")%>:</strong> %s', info[i]["ssid"], info[i]["encryption"]);
					}
					if(info[i]["disabled"]==0){
						class_Name="cbi-button cbi-button-reload";
						title="<%=translate('Activate this network')%>";
						value="<%=translate('Enable')%>";
						onclick = String.format("wifi_shutdown('%s', 1)", info[i]["sid"]);
					}else{
						class_Name="cbi-button cbi-button-reset";
						title="<%=translate('Shutdown this network')%>";
						value="<%=translate('Disable')%>";
					}
					var s = document.getElementById(info[i]["sid"]+'-iw-toggle');
					if (s){
						s.className = class_Name;
						s.value = value;
						s.title = title;
					}
				}
			}
		}
	);
function wifi_shutdown(sid, toggle) {
	spin_loader(12000);
	XHR.get('<%=luci.dispatcher.build_url("admin/network/iface_disabled")%>', { status: sid },
		function(x, info){
		}
	);
}
function spin_loader(interval) {
	document.getElementById("spin-loader").style.display='';
	setTimeout(function(){  document.getElementById("spin-loader").style.display='none';}, interval);
}
function wifi_delete(sid, toggle) {
	spin_loader(12000);
	XHR.get('<%=luci.dispatcher.build_url("admin/network/wireless_delete")%>', { status: sid },
		function(x, info)
		{
			if (info){
				location.href=location.href;
			}
		}
	);
}
//]]></script>
<div id="spin-loader" class="applyChanges" style="display: none;">
	<span><%=translate("Restarting Wireless")%></span>
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" />
</div>
<h2><a id="content" name="content"><%=translate("Wireless Configuration")%></a></h2>

<div class="cbi-map">
	<fieldset class="cbi-section">
		<table class="cbi-section-table5" style="margin:10px; empty-cells:hide">
			<tr style="background-color: #f5f5f5;" >
				<% if info["ap"]["device"]==info["ap"]["disabled"] then %>
					<td id="ap_td" style="width:34px"><img src="<%=resource%>/icons/wifi_big_disabled.png" style="float:left; margin-right:10px" id="ap_iw-upstate" /></td>
				<% else %>
					<td id="ap_td" style="width:34px"><img src="<%=resource%>/icons/wifi_big.png" style="float:left; margin-right:10px" id="ap_iw-upstate" /></td>
				<% end %>
				<td colspan="2" style="text-align:left">
					<big><strong><%=translate("Wireless Access Points")%></strong></big><br/>
				</td>
				<td style="width:310px;text-align:right">
					<% if ((info["ap"]["device"]<4 and info["sta"]["device"]==0) or (info["ap"]["device"]<1 and info["sta"]["device"]>0)) then %>
						<input type="button" class="cbi-button cbi-button-add" style="width:100px;margin-right:20px" onclick="location.href='<%=luci.dispatcher.build_url("admin/network/wireless_add")%>?device=<%=dev_name%>'" title="<%=translate("Provide new network")%>" value="<%=translate("Add")%>" />
					<% else %>
						<input type="button" class="cbi-button cbi-button-add" style="width:100px; color: #B8B8B8;margin-right:20px" disabled  title="<%=translate("Provide new network")%>" value="<%=translate("Add")%>" />
					<% end %>
				</td>
			</tr>
			<%if info["ap"]["device"]>0 then %>
				<% for i, net in ipairs(netlist) do
					if net["mode"] == "ap" then %>
						<tr class="cbi-section-table-row cbi-rowstyle-<%=1 + ((i-1) % 2)%>" style="border-bottom: 1px solid #DDD;">
							<td></td>
							<td class="cbi-value-field" style="width:16px; vertical-align: middle; padding:3px; text-align: center;" id="<%=net["sid"]%>-iw-signal">
								<img src="<%=resource%>/icons/wifi_disabled.png" title="<%=translate('Not associated')%>" /><br />
							</td>
							<td class="cbi-value-field" style="vertical-align:middle; text-align:left; padding:3px" id="<%=net["sid"]%>-iw-status">
								<strong><%=translate("SSID")%>:</strong> <%=net["ssid"]%><br />
								<em><%=translate("Collecting data...")%></em>
							</td>
							<td class="cbi-value-field" style="width:380px;text-align:right">
								<input id="<%=net["sid"]%>-iw-toggle" type="button" class="cbi-button cbi-button-reload" style="width:100px;" onclick="wifi_shutdown('<%=net["sid"]%>', this)" title="<%=translate('Activate this network')%>" value="<%=translate('Enable')%>" />
								<input type="button" class="cbi-button cbi-button-edit" style="width:100px;" onclick="location.href='<%=luci.dispatcher.build_url("admin/network/wireless/")%><%=net["netid"]%> '" title="<%=translate('Edit this network')%>" value="<%=translate('Edit')%>" />
								<input type="button" class="cbi-button cbi-button-remove" style="width:100px;margin-right:20px" onclick="wifi_delete('<%=net["sid"]%>', this)" title="<%=translate("Delete this network")%>" value="<%=translate("Remove")%>" />
							</td>
						</tr>
					<%end %>
				<%end %>
			<%else %>
				<tr class="cbi-section-table-row cbi-rowstyle-2">
					<td></td>
					<td colspan="3" class="cbi-value-field" style="vertical-align:middle; text-align:left; padding:3px">
						<em><%=translate("No Wireless Access Point configured")%></em>
					</td>
				</tr>
			<%end %>
		</table>
	</fieldset>
	<% if expertMode == "1" then %>
	<fieldset class="cbi-section">
		<table class="cbi-section-table5" style="margin:10px; empty-cells:hide">
			<tr style="background-color: #f5f5f5;" >
				<% if info["sta"]["device"]>0 and info["sta"]["device"]>info["sta"]["disabled"] and wan_wifi_enabled then %>
					<td style="width:34px"><img src="<%=resource%>/icons/wifi_big.png" style="float:left; margin-right:10px" id="sta_iw-upstate" /></td>
				<% else %>
					<td style="width:34px"><img src="<%=resource%>/icons/wifi_big_disabled.png" style="float:left; margin-right:10px" id="sta_iw-upstate" /></td>
				<% end %>
				<td colspan="2" style="text-align:left">
					<big><strong><%=translate("Wireless Station Mode")%></strong></big><br/>
				</td>
				<td style="width:310px;text-align:right">
					<% if ( wan_wifi_enabled and info["sta"]["device"]<1 and info["ap"]["device"]<2 ) then %>
						<input type="button" class="cbi-button cbi-button-find" style="width:100px;margin-right:20px" onclick="location.href='<%=luci.dispatcher.build_url("admin/network/wireless_join")%>?device=<%=dev_name%>'" title="<%=translate("Find and join network")%>" value="<%=translate("Add")%>" />
					<% else %>
						<input type="button" class="cbi-button cbi-button-find" style="width:100px;color: #B8B8B8;margin-right:20px" disabled title="<%=translate("Find and join network")%>" value="<%=translate("Add")%>" />
					<% end %>
				</td>
			</tr>
			<%if info["sta"]["device"]>0 and wan_wifi_enabled then %>
				<% for i, net in ipairs(netlist) do
					if net["mode"] == "sta" then %>
						<tr class="cbi-section-table-row cbi-rowstyle-<%=1 + ((i-1) % 2)%>" style="border-bottom: 1px solid #DDD;">
							<td></td>
							<td class="cbi-value-field" style="width:16px; vertical-align: middle; padding:3px; text-align: center;" id="<%=net["sid"]%>-iw-signal">
								<img src="<%=resource%>/icons/wifi_disabled.png" title="<%=translate('Not associated')%>" /><br />
							</td>
							<td class="cbi-value-field" style="vertical-align:middle; text-align:left; padding:3px" id="<%=net["sid"]%>-iw-status">
								<strong><%=translate("SSID")%>:</strong> <%=net["ssid"]%><br />
								<em><%=translate("Collecting data...")%></em>
							</td>
							<td class="cbi-value-field" style="width:380px;text-align:right">
								<input id="<%=net["sid"]%>-iw-toggle" type="button" class="cbi-button cbi-button-reload" style="width:100px" onclick="wifi_shutdown('<%=net["sid"]%>', this)" title="<%=translate('Activate this network')%>" value="<%=translate('Enable')%>" />
								<input type="button" class="cbi-button cbi-button-edit" style="width:100px" onclick="location.href='<%=luci.dispatcher.build_url("admin/network/wireless/")%><%=net["netid"]%> '" title="<%=translate('Edit this network')%>" value="<%=translate('Edit')%>" />
								<input type="button" class="cbi-button cbi-button-remove" style="width:100px;margin-right:20px" onclick="wifi_delete('<%=net["sid"]%>', this)" title="<%=translate("Delete this network")%>" value="<%=translate("Remove")%>" />
							</td>
						</tr>
					<%end %>
				<%end %>
			<%else %>
				<tr class="cbi-section-table-row cbi-rowstyle-2">
					<td></td>
					<td colspan="3" class="cbi-value-field" style="vertical-align:middle; text-align:left; padding:3px">
						<%if not wan_wifi_enabled then%>
							<em><%=translate("Available when WAN is in WiFi operation mode only")%></em>
						<%elseif info["ap"]["device"]>1 then %>
							<em><%=translate("Available in single AP mode only")%></em>
						<%else %>
							<em><%=translate("No Wireless Station configured")%></em>
						<%end %>
					</td>
				</tr>
			<%end %>
		</table>
	</fieldset>
	<% end %>
</div>

<%+footer%>
