<%+cbi/valueheader%>
<%
	local show = require("luci.tools.status").show_mobile()
	local uci = require "luci.model.uci".cursor()
	local selected = uci:get(self.config, section, self.option)
	local list_options = {
		{value = "extrad", name = "External radius", selected = false},
		{value = "intrad", name = "Internal radius", selected = false},
		{value = "norad", name = "Without radius", selected = false}
	}
	if show then
		table.insert(list_options, {value = "sms", name = "SMS OTP", selected = false})
	end
	
%>
<script type="text/javascript">
	function visible(value) {
		users = document.getElementById(<%="\"cbi-".. self.config .. "-users\""%>);
		
		if (users) {
			if (value == "norad") {
				users.style.display="";
			}
			else
			{
				users.style.display="none";
			}
		}
	}
	document.addEventListener('DOMContentLoaded', function() {
	e = document.getElementById("<%=cbid%>");
   if (e){
		visible(e.value);
   }
}, false);
</script>
	<select class="cbi-input-select" onchange="cbi_d_update(this.id)" onclick="visible(this.value)" id="<%=cbid%>" name="<%=cbid%>" size="1">
		<% for i, val in ipairs(list_options) do 
		if selected == val.value then
			val.selected = true
		end%>
		<option id="<%=cbid%>-<%=val.value%>" value="<%=val.value%>" <%= ifattr(val.selected, "selected", "selected")%> ><%=val.name%></option>
	<% end	%>
	</select>
	
<%+cbi/valuefooter%>
