<%-
local show = require("luci.tools.status").show_mobile()

local rowcnt = 1
function rowstyle()
	rowcnt = rowcnt + 1
	return (rowcnt % 2) + 1
end

function width(o)
	if o.width then
		if type(o.width) == 'number' then
			return ' style="width:%dpx"' % o.width
		end
		return ' style="width:%s"' % o.width
	end
	return ''
end
-%>

<!-- tblsection -->
<script type="text/javascript">
function hide_show(self, id){
	var e = document.getElementById(id);
	var theme = document.getElementById("cbid.landingpage.general.theme").value
	if (e && theme == "custom") {
		var visible = e.style.display
		if (visible == "none") {
			self.id = "open"
			self.src="/luci-static/resources/icons/close_section.png"
			e.style.display = ""
		}
		else {
			self.id = "closed"
			self.src="/luci-static/resources/icons/open_section.png"
			e.style.display = "none"
		}
	}
}

function change_icon(self){

	if (self.id) {
		if (self.id == "closed") {
			self.src="/luci-static/resources/icons/closed_hover.png"
		}
		else {
			self.src="/luci-static/resources/icons/opened_hover.png"
		}
	}
}

function normal_icon(self, id){

	if (self.id) {
		if (self.id == "closed") {
			self.src="/luci-static/resources/icons/open_section.png"
		}
		else {
			self.src="/luci-static/resources/icons/close_section.png"
		}
	}
}
</script>
<fieldset class="cbi-section" id="cbi-<%=self.config%>-<%=self.sectiontype%>" style="display:none;">
	<% if self.title and #self.title > 0 then -%>
		<legend>
			<img id="closed" onmouseout="normal_icon(this)" onmouseover="change_icon(this)" onclick="hide_show(this, 'table.<%=self.config%>.<%=self.sectiontype%>')" class="logo" src="/luci-static/resources/icons/open_section.png" style="margin: 0px 10px 0px 0px;">
			<%=self.title%>
		</legend>
	<%- end %>
	<%- if self.sortable then -%>
		<input type="hidden" id="cbi.sts.<%=self.config%>.<%=self.sectiontype%>" name="cbi.sts.<%=self.config%>.<%=self.sectiontype%>" value="" />
	<%- end -%>
	<div class="cbi-section-descr"><%=self.description%></div>
	<div class="cbi-section-node">
		<%- local count = 1 -%>
		<table class="cbi-section-table" id="table.<%=self.config%>.<%=self.sectiontype%>" style="display: none;">
			<!--<tr class="cbi-section-table-titles">
				<th class="cbi-section-table-cell" style="background: #e5e5e5;" colspan="<%=#self.children%>">
				Text
				</th>
			<tr>-->
			<tr class="cbi-section-table-titles">
			<%- if not self.anonymous then -%>
				<%- if self.sectionhead then -%>
					<th class="cbi-section-table-cell"><%=self.sectionhead%></th>
				<%- else -%>
					<th>&#160;</th>
				<%- end -%>
			<%- end -%>
			<%- for i, k in pairs(self.children) do if not k.optional then -%>
				<th class="cbi-section-table-cell"<%=width(k)%> onmouseover="ShowHint(this, '<%=translate(k.description)%>')" onmouseout="HideHint(this)">
				<%- if k.titleref then -%><a title="<%=self.titledesc or translate('Go to relevant configuration page')%>" class="cbi-title-ref" href="<%=k.titleref%>"><%- end -%>
					<%-=k.title-%>
				<%- if k.titleref then -%></a><%- end -%>
				</th>
			<%- count = count + 1; end; end; if self.sortable then -%>
				<th class="cbi-section-table-cell" onmouseover="ShowHint(this, '<%=self.sorthint%>')" onmouseout="HideHint(this)"><%=translate("Sort")%></th>
			<%- end; if self.extedit or self.addremove or self.addbutton then -%>
				<th class="cbi-section-table-cell">&#160;</th>
			<%- count = count + 1; end -%>
			</tr>
			<tr class="cbi-section-table-descr" style="height:10px;">
			<%- if not self.anonymous then -%>
				<%- if self.sectiondesc then -%>
					<th class="cbi-section-table-cell"><%=self.sectiondesc%></th>
				<%- else -%>
					<th></th>
				<%- end -%>
			<%- end -%>
			<!--
			<%- for i, k in pairs(self.children) do if not k.optional then -%>
				<th class="cbi-section-table-cell"<%=width(k)%> onmouseover="ShowHint(this, '<%=k.description%>')" onmouseout="HideHint(this)"></th>
			<%- end; end; if self.sortable then -%>
				<th class="cbi-section-table-cell"></th>
			<%- end; if self.extedit or self.addremove or self.addbutton then -%>
				<th class="cbi-section-table-cell"></th>
			<%- end -%>
			-->
			</tr>
			<%- local isempty = true
			    for i, k in ipairs(self:cfgsections()) do
					section = k
					isempty = false
					scope = { valueheader = "cbi/cell_valueheader", valuefooter = "cbi/cell_valuefooter" }
				if not ((section == "error" or section == "phone" or section == "password") and not show) then
			-%>
			<tr class="cbi-section-table-row<% if self.extedit or self.rowcolors then %> cbi-rowstyle-<%=rowstyle()%><% end %>" id="cbi-<%=self.config%>-<%=section%>">
				<% if not self.anonymous then -%>
					<th><h3><%=(type(self.sectiontitle) == "function") and self:sectiontitle(section) or k%></h3></th>
				<%- end %>


				<%-
					for k, node in ipairs(self.children) do
						if not node.optional then
							node:render(section, scope or {})
						end
					end
				-%>

				<%- if self.sortable then -%>
					<td class="cbi-section-table-cell">
						<input class="cbi-button cbi-button-up" type="button" value=""  onclick="return cbi_row_swap(this, true, 'cbi.sts.<%=self.config%>.<%=self.sectiontype%>')" alt="<%:Move up%>" title="<%=translate('Move up')%>" />
						<input class="cbi-button cbi-button-down" type="button" value=""  onclick="return cbi_row_swap(this, false, 'cbi.sts.<%=self.config%>.<%=self.sectiontype%>')" alt="<%:Move down%>" title="<%=translate('Move down')%>" />
					</td>
				<%- end -%>

				<%- if self.extedit or self.addremove or self.addbutton then -%>
					<td class="cbi-section-table-cell">
						<%- if self.addbutton then -%>
							<input class="cbi-button cbi-button-edit" type="button" value="<%=self.addbuttontittle%>"
							<%- if type(self.addbutton) == "string" then
							%> onclick="location.href='<%=self.addbutton:format(section)%>'"
							<%- elseif type(self.addbutton) == "function" then
							%> onclick="location.href='<%=self:extedit(section)%>'"
							<%- end
							%> alt="<%:Edit%>" title="<%:Edit%>" />
						<%- end; if self.extedit then -%>
							<input class="cbi-button cbi-button-edit" type="button" value="<%:Edit%>"
							<%- if type(self.extedit) == "string" then
							%> onclick="location.href='<%=self.extedit:format(section)%>'"
							<%- elseif type(self.extedit) == "function" then
							%> onclick="location.href='<%=self:extedit(section)%>'"
							<%- end
							%> alt="<%:Edit%>" title="<%:Edit%>" />
						<%- end; if self.addremove then %>
							<input class="cbi-button cbi-button-remove" type="submit" value="<%:Delete%>"  onclick="this.form.cbi_state='del-section'; return true" name="cbi.rts.<%=self.config%>.<%=k%>" alt="<%:Delete%>" title="<%:Delete%>" />
						<%- end -%>
					</td>
				<%- end -%>
			</tr>

			<%- 	end
			end -%>

			<%- if isempty then -%>
			<tr class="cbi-section-table-row">
				<%- if self.novaluetext then -%>
					<td style="padding:20px 0 20px 10px;" colspan="<%=count%>"><em><%=self.novaluetext%></em></td>
				<%- else -%>
					<td style="padding:20px 0 20px 10px;" colspan="<%=count%>"><em><%=translate("This section contains no values yet")%></em></td>
				<%- end -%>
			</tr>
			<%- end -%>
		</table>

		<% if self.error then %>
			<div class="cbi-section-error">
				<ul><% for _, c in pairs(self.error) do for _, e in ipairs(c) do -%>
					<li><%=pcdata(e):gsub("\n","<br />")%></li>
				<%- end end %></ul>
			</div>
		<% end %>

		<%- if self.addremove then -%>
			<% if self.template_addremove then include(self.template_addremove) else -%>
			<div class="cbi-section-create cbi-tblsection-create">
				<% if self.anonymous then %>
					<input class="cbi-button cbi-button-add" style="margin-left: 10px;" type="submit" value="<%:Add%>" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" title="<%:Add%>" />
				<% else %>
					<% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
					<input type="text" class="cbi-section-create-name" id="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" />
					<script type="text/javascript">cbi_validate_field('cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>', true, 'uciname');</script>
					<input class="cbi-button cbi-button-add" type="submit" onclick="this.form.cbi_state='add-section'; return true" value="<%:Add%>" title="<%:Add%>" />
					<% if self.invalid_cts then -%>
						<br /><%:Invalid%></div>
					<%- end %>
				<% end %>
			</div>
			<%- end %>
		<%- end -%>
	</div>
</fieldset>
<!-- /tblsection -->