<%+header%>

<%
	require "teltonika_lua_functions"
	local sqlite = require "lsqlite3"
	local dbPath = "/var/"
	local dbName = "hotspot.db"
	local dbFullPath = dbPath .. "" .. dbName
	local result

	if fileExists(dbPath, dbName) then
		local db
		db = sqlite.open(dbPath .. dbName)
		if db then
			local query = "SELECT * FROM statistics WHERE session='0'"
			result = selectDB(query, db)
			closeDB(db)
		end
	end

	function convert_bytes(bytes)
		local divisor = 1024
		local metric = {"B", "KB", "MB", "GB", "TB"}
		local num = 1
		local result

		while bytes > divisor do
			bytes = bytes / divisor
			num = num + 1
		end

		bytes = round((math.floor(bytes * (10^3) + 0.5) / (10^3)),2)

		if num < 6 and num > 0 then
			result = bytes .. " " .. metric[num]
		end

 		return result or bytes
	end
%>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript" src="<%=resource%>/Dable.js"></script>
<h2><a id="content" name="content"><%=translate("Hotspot Statistics")%></a></h2>
<fieldset>
	<legend><%=translate("Hotspot statistics")%></legend>
	<div id="loading" style="display: inline;">
		<span style="position: relative; bottom: 12px;"> Loading... </span>
		<img src="/luci-static/resources/icons/loading.gif" alt="Loading">
	</div>
<div id="TableDable" style="display: none">
	<table id="tablepaging" class="yui" align="center" width="100%" cellspacing="10" >
		<thead style="border-bottom: 1px solid #DDD;">
			<tr>
				<th class="cbi-section-table-cell" width="10%" ><%=translate("Username")%></th>
				<th class="cbi-section-table-cell" width="10%" ><%=translate("IP")%></th>
				<th class="cbi-section-table-cell" width="10%" ><%=translate("MAC")%></th>
				<th class="cbi-section-table-cell" width="10%" ><%=translate("Start time")%></th>
				<th class="cbi-section-table-cell" width="10%" ><%=translate("End time")%></th>
				<th class="cbi-section-table-cell" width="10%" ><%=translate("Use time")%></th>
				<th class="cbi-section-table-cell" width="10%" ><%=translate("Download")%></th>
				<th class="cbi-section-table-cell" width="10%" ><%=translate("Upload")%></th>
			</tr>
		</thead>
		<tbody>
			<%
			if result then
				for name, row in ipairs(result) do	%>
						<tr class="cbi-section-table-row">
							<td class="cbi-section-table-cell" width="10%"><%=row.user%></td>
							<td class="cbi-section-table-cell" width="10%"><%=row.ip%></td>
							<td class="cbi-section-table-cell" width="10%"><%=row.mac%></td>
							<td class="cbi-section-table-cell" width="10%"><%=os.date("%F %T", row.time)%></td>
							<td class="cbi-section-table-cell" width="10%"><% if row.end_time == 0 then %> - <% else %> <%=os.date("%F %T", row.end_time)%> <%end%></td>
							<td class="cbi-section-table-cell" width="10%"><% if row.end_time == 0 then %> - <% else %> <%=os.date("!%X", (row.end_time - row.time))%> <%end%></td>
							<td class="cbi-section-table-cell" width="10%"><%=convert_bytes(row.input)%></td>
							<td class="cbi-section-table-cell" width="10%"><%=convert_bytes(row.output)%></td>
						</tr>
				<%end%>

			<%else%>
				<tr class="cbi-section-table-row">
					<td style="padding:20px 0 20px 10px;" colspan="8">
					<em><%=translate("There are no records yet.")%></em>
					</td>
				</tr>
			<%end %>

		</tbody>
	</table>
</div>

<script type="text/javascript">

var dable = new Dable("TableDable");
AddWindowOnLoadEvent(hide);

function hide(){
	var e = document.getElementById("loading");
	e.setAttribute('style', 'display: none;');
}

</script>

</fieldset>
<%+footer%>
