<div class="cbi-section-create">
	<% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
	<label class="cbi-value-title-2"<%= attr("for", cbid) %>><span onmouseover="ShowHint(this, 'A role that new OpenVPN instance will have')" onmouseout="HideHint(this)"><%=translate("Role:")%></span></label>
	<select class="cbi-section-create-name" name="cbid.<%=self.config%>.<%=self.sectiontype%>.role">
		<option value="<%:client%>"><%=translate("Client1")%></option>
		<option value="<%:server%>"><%=translate("Server")%></option>
	</select>
	<label class="cbi-value-title-2" style="padding-left:10px;"<%= attr("for", cbid) %>><span onmouseover="ShowHint(this, 'Name of the new OpenVPN configuration. Used for easier configurations management purpose only')" onmouseout="HideHint(this)"><%=translate("New configuration name:")%></span></label>
	<input type="text" class="cbi-section-create-name" name="cbid.<%=self.config%>.<%=self.sectiontype%>.name" maxlength="8" />
	<input class="cbi-button cbi-button-add" type="submit" value="<%=translate('Add New')%>" title="<%=translate('Add New')%>" />
	<% if self.invalid_cts then %><br /><%=translate("Invalid")%></div><% end %>
</div>
