<%+cbi/valueheader%>
<%
	local uci = require "luci.model.uci".cursor()
	local selected = uci:get(self.config, section, self.option)
	local list_options = {
		{value = "skey", name = "Static key", selected = false},
		{value = "tls", name = "TLS", selected = false}
	}
	
%>
<script type="text/javascript">
	function visible(value) {
		e = document.getElementById("cbi-openvpn-client");
		if (e) {
			if (value == "tls") {
				e.style.display="inline";
			}
			else
			{
				e.style.display="none";
			}
		}
		
	}
	document.addEventListener('DOMContentLoaded', function() {
   // your code here
   e = document.getElementById("<%=cbid%>");
   if (e){
		visible(e.value);
   }
}, false);
	
</script>
<select class="cbi-input-select" onchange="cbi_d_update(this.id)" onclick="visible(this.value)" name="<%=cbid%>" id="<%=cbid%>">
	<% for i, val in ipairs(list_options) do 
		if selected == val.value then
			val.selected = true
		end%>
		<option id="<%=cbid%>-<%=val.value%>" value="<%=val.value%>" <%= ifattr(val.selected, "selected", "selected")%> ><%=val.name%></option>
	<% end	%>
</select>

<%+cbi/valuefooter%>
