<% local sys = require ("luci.sys")
	local util = require ("luci.util")
	local num_vpn = util.trim(sys.exec("cat /etc/config/openvpn | grep 'config openvpn' -c")) or "1"
 %>
<div class="cbi-section-create">
	<% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
	<label class="cbi-value-title-2"<%= attr("for", cbid) %>><span onmouseover="ShowHint(this, 'A role that new OpenVPN instance will have')" onmouseout="HideHint(this)"><%=translate("Role:")%></span></label>
	<select class="cbi-section-create-name" name="cbid.<%=self.config%>.<%=self.sectiontype%>.role">
		<option value="mdex_fixedIP"><%=translate("mdex fixed.IP+")%></option>
		<option value="mdex_publicIP"><%=translate("mdex public.IP")%></option>
		<option value="mdex_businessIP"><%=translate("mdex business.IP")%></option>
		<option value="mdex_MPN"><%=translate("mdex MPN")%></option>
		<option value="<%:client%>"><%=translate("Client")%></option>
		<option value="<%:server%>"><%=translate("Server")%></option>
	</select>
	<label class="cbi-value-title-2" style="padding-left:10px;"<%= attr("for", cbid) %>><span onmouseover="ShowHint(this, 'Name of the new OpenVPN configuration. Used for easier configurations management purpose only')" onmouseout="HideHint(this)"><%=translate("New configuration name:")%></span></label>
	<input type="text" class="cbi-section-create-name" name="cbid.<%=self.config%>.<%=self.sectiontype%>.name" maxlength="8" />
	<input class="cbi-button cbi-button-add" type="submit" name="add_new" value="<%=translate('Add New')%>" title="<%=translate('Add New')%>" />
	<% if self.invalid_cts then %><br /><%=translate("Invalid")%></div><% end %>
</div>
