body {
	background-image: url("background");
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	background-position: center;
}

#logo {
	content: url("logo_image");
}

#link {
	font-size: 14;
	color: #767676;
}

#terms {
	font-size: 14;
	color: #373737;
}

#welcome_title {
	font-size: 25;
	color: #373737;
}

#welcome_text {
	font-size: 14;
	color: #404040;
}

#failed_title {
	font-size: 25;
	color: #373737;
}

#failed_text {
	font-size: 14;
	color: #373737;
}

#success_title {
	font-size: 25;
	color: #373737;
}

#success_text {
	font-size: 14;
	color: #373737;
}

#logout_title {
	font-size: 25;
	color: #373737;
}

#logout_text {
	font-size: 14;
	color: #373737;
}

#warning_title {
	font-size: 25;
	color: #373737;
}

#warning_text {
	font-size: 14;
	color: #373737;
}

#phone_title {
	font-size: 25;
	color: #373737;
}

#phone_text {
	font-size: 14;
	color: #373737;
}

#password_title {
	font-size: 25;
	color: #373737;
}

#password_text {
	font-size: 14;
	color: #373737;
}

#error_title {
	font-size: 25;
	color: #373737;
}

#error_text {
	font-size: 14;
	color: #373737;
}