<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008 Jo-Philipp Wich <xm@leipzig.freifunk.net>
Copyright 2012 David Menting <david@nut-bolt.nl>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

-%>
<%
	local disp = require "luci.dispatcher"

	local request  = disp.context.path

	local category = request[1]

	local tree = disp.node()

	local categories = disp.node_childs(tree)
%>
</div>
   <footer class="mdex"><a1><%=translate("mdex AG ")%></a1><a target="_blank" href="https://www.mdex.de">www.mdex.de</a>

    <% if #categories > 1 then %>
     <ul class="breadcrumb pull-right" id="modemenu">
	    <% for i, r in ipairs(categories) do %>
		    <li<% if request[1] == r then %> class="active"<%end%>><a href="<%=controller%>/<%=r%>/"><%=striptags(translate(tree.nodes[r].title))%></a> <span class="divider">|</span></li>
	    <% end %>
     </ul>
    <% end %>
   </footer>
   </div>
  </div>
	<script type="text/javascript">
		var button = document.getElementById("cbid.network.ppp.ifname");
		if (button){ 
		//initiate this function when the user clicks the ID
		button.onclick = function() {
			if (button.value == "bridge"){
				alert("<%=translate('Warning! Router in bridge mode can be reached only by using static network settings.')%>");
			}
		};
		}
</script>
 </body>
</html>

