<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008 Jo-Philipp Wich <xm@leipzig.freifunk.net>
Copyright 2012 David Menting <david@nut-bolt.nl>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

-%>
<%
	local sys  = require "luci.sys"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"
	local uci = require "luci.model.uci".cursor()
	local ds = require "luci.dispatcher"

		---cli
	local cli = uci:get("cli", "status", "enable")
	local port = uci:get("cli", "status", "port")
	step = tonumber(luci.http.formvalue("xxx"))
	if step == 0 then
		luci.sys.call("/etc/init.d/shellinabox start")
		--luci.sys.exec("sleep 1")
		rv = {status = "1" }
		luci.http.prepare_content("application/json")
		luci.http.write_json(rv)
	end
------------expert mode------
	local expert = uci:get("system", "system", "expert")

	function change_expert()
		if expert == "1" then
			uci:set("system", "system", "expert", "0")
		else
			uci:set("system", "system", "expert", "1")
		end
	end
	
------------------

	local hostname = sys.hostname()
	local profile_name = uci:get("profiles", "profiles", "profile")
	local profile_date = uci:get("profiles", "profiles", "date")
	local profile_path = uci:get("profiles", "profiles", "path")
------------auto update------
	local auto_update00 = luci.util.trim(luci.sys.exec("uci get auto_update.auto_update.fw_version"))
	local version10 = luci.util.trim(luci.sys.exec("cat /etc/version"))

	auto_update00 = tostring(auto_update00)
	version10 = tostring(version10)

	local currentver = {}
	local updatever = {}
	local needupdate = 0

	local updatever = auto_update00:split(".")
	local currentver = version10:split(".")

	curnum = tonumber(currentver[#currentver])
	upnum = tonumber(updatever[#updatever])

	--luci.sys.call("echo\"".. #updatever .."\">/tmp/version")


----------------------------

	local request  = disp.context.path
	local request2 = disp.context.request

	local category = request[1]
	local cattree  = category and disp.node(category)

	local leaf = request2[#request2]

	local tree = disp.node()
	local node = disp.context.dispatched

	local categories = disp.node_childs(tree)

	local c = tree
	local i, r

	local function getParam(cmd)
		local h = io.popen(cmd)
		local t = h:read()
		h:close()
		return t
	end

	local function configHasChanged(name, date, path)
		local md5cur = getParam("md5sum /etc/config/* /etc/shadow | grep -v profiles | md5sum")
		local md5org = getParam(string.format("cat %s/%s_%s.md5", path, name, date))
		if md5cur ~= md5org then
			return 1
		end
	end

	-- tag all nodes leading to this page
	for i, r in ipairs(request) do
		if c.nodes and c.nodes[r] then
			c = c.nodes[r]
			c._menu_selected = true
		end
	end

    -- send as HTML5
	http.prepare_content("text/html")

	local function nodeurl(prefix, name, query)
		local url = controller .. prefix .. name .. "/"
		if query then
			url = url .. http.build_querystring(query)
		end
		return pcdata(url)
	end

	local function subtree(prefix, node, level)
		if not level then
			level = 1
		end

		local childs = disp.node_childs(node)
		if #childs > 0 then

            if level > 2 then
%>
	<ul class="tabs">
		<%
            end

			local selected_node
			local selected_name
			local i, v

			for i, v in ipairs(childs) do
				local nnode = node.nodes[v]
				if nnode._menu_selected then
					selected_node = nnode
					selected_name = v
				end
                if level > 2 then
		%>
			<li class="tabmenu-item-<%=v%><%- if nnode._menu_selected or (node.leaf and v == leaf) then -%>| active<% end %>">
			    <a href="<%=nodeurl(prefix, v, nnode.query)%>"><%=striptags(translate(nnode.title))%></a>
			</li>
		<%      end
			end

            if level > 2 then
		%>
	</ul>
<%          end

			if selected_node then
				subtree(prefix .. selected_name .. "/", selected_node, level + 1)
			end
		end
	end
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
 <head>
  <meta charset="utf-8">
  <title><%=striptags( hostname .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - Web UI</title>
  <!--[if lt IE 9]><script src="<%=media%>/html5.js"></script><![endif]-->
  <script type="text/JavaScript" src="<%=media%>/hints.js"></script>
  <link rel="stylesheet" href="<%=media%>/style.min.css">
  <link rel="shortcut icon" href="<%=media%>/favicon.ico">
  <% if node and node.css then %><link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
  <% end -%>
  <script src="<%=resource%>/xhr.js"></script>
  <script>
   function AddWindowOnLoadEvent(Func) {
        var objOnLoadOld = window.onload;

        if (typeof window.onload != 'function') {
            window.onload = Func;
        } else {
            window.onload = function() {
                if (objOnLoadOld) {
                    objOnLoadOld();
                }
                Func();
            }
        }
    }
  if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i))) {
	window.onload = AddRefs;
  }

  function AddRefs() {
	var i, objElem;

	objElem = document.getElementsByClassName("menu");
	for (i = 0; i < objElem.length; i++)
		objElem[i].href = "#";
  }

  </script>
 </head>
 <body class="lang_<%=luci.i18n.context.lang%> <%- if node then %><%= striptags( node.title ) %><%- end %>">
  <header>

	<div class="fill">
		<div class="container">
			<a href="<%=ds.build_url('admin/status/overview')%>"><img class="logo" src="/luci-static/resources/logo.png"></img></a>
			<ul class="nav">

			<%-
				local function submenu(prefix, node)
				local childs = disp.node_childs(node)
				if #childs > 0 then
			%>

					<ul class="dropdown-menu">
					<%-
					for i, r in ipairs(childs) do
						local nnode = node.nodes[r]
						local href  = controller .. prefix .. r ..
						(nnode.query and http.build_querystring(nnode.query) or "")
					%>
					
						<%- if nnode._menu_selected or (node.leaf and v == leaf) then -%>
							<li><a href="<%=pcdata(href)%>"><b><%=pcdata(striptags(translate(nnode.title)))%></b></a></li>
						<%- elseif (luci.dispatcher.context.requestpath[3] ~= nil) and (luci.dispatcher.context.requestpath[3] == "wireless") and (striptags(translate(nnode.title)) == "Wireless") then -%>
							<li><a href="<%=pcdata(href)%>"><b><%=pcdata(striptags(translate(nnode.title)))%></b></a></li>
						<% else %>
							<li><a href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a></li>
						<% end %>
					<%-end%>
					</ul>
				<%- end %>
				<% end %>

				<% 
				childs = disp.node_childs(cattree)

				if #childs > 0 then
					for i, r in ipairs(childs) do
						local nnode = cattree.nodes[r]
						local href  = controller .. "/" .. category .. "/" .. r ..
						(nnode.query and http.build_querystring(k.query) or "")
						local grandchildren = disp.node_childs(nnode)

						if #grandchildren > 0 then
				%>
						<%- if nnode._menu_selected then -%> 
						<li class="dropdown act">
						<% else %>
						<li class="dropdown">
						<% end %>
							<a class="menu" ><%=pcdata(striptags(translate(nnode.title)))%></a>
							<%- submenu("/" .. category .. "/" .. r .. "/", nnode) %>
						</li>
						<% else %>

							<% if #childs > 0 then %>
								<%if needupdate == 0 or auto_update == "" then%>
									<% if profile_name and profile_date then %>
										<% if configHasChanged(profile_name, profile_date, profile_path) then 
											profile_name = profile_name .." [modified]" 
										end %>
										<li class="profiles">
											<div style="float:left; margin:-1px 0 0 5px;"><%=translate("Profile in use: ")%></div>
											<a style="float:right;" href="<%=luci.dispatcher.build_url("admin/system/profiles")%>" id="profile-link">
												<i><%=profile_name%></i>
											</a>
										</li>
									<% end %>
								<% else%>
									<div style="float:left; margin:2px 0 0 50px;">
										<a href="<%=luci.dispatcher.build_url("admin", "system", "flashops","upgrade")%>" style="font-style: oblique; font-size: 15px; font-weight: bold;padding: 0px; color: #999999;"><%=translate("FW Update available ")%>
											<img src="/luci-static/resources/icons/update_mel.png" style="position: relative; top: 5px; left: 5px;"></img>
										</a>
									</div>
								<% end %>
							<% end %>

							<!--<% if #childs - 1 == i then %>
								<li>
									<% if expert == "1" then %>
										<a class="<%=#childs%>" style="color:green" href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a>
									<% else %>
										<a class="<%=#childs%>" style="color:red" href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a>
									<% end %>
								</li>
							<% end %>
							<% if #childs == i then %>
								<li>
									<a class="logout" style="" href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a>
								</li>
							<% end %>-->
							<% if #childs - 1 == i then %>
								<li class="expert-<%= expert %>">
									<a href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a>
								</li>
							<% end %>
							<% if #childs == i then %>
								<li class="logout">
									<a href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a>
								</li>
							<% end %>
					<!--	<% local Mode = uci:get("system", "system", "expert")
						if Mode == "1" or Mode == "0" then %>
							<li style="padding-left : 250px">
								<a href="<%=togle_url%>">Expert Mode: <%=Mode%></a>
							</li>
						<% end %>-->
						<% end %>
					<% end %>
				<% end %>
			</ul>

			<%
			-- calculate the number of unsaved changes
				if tree.nodes[category] and tree.nodes[category].ucidata then
					local ucichanges = 0

					for i, j in pairs(require("luci.model.uci").cursor():changes()) do
						for k, l in pairs(j) do
							for m, n in pairs(l) do
								ucichanges = ucichanges + 1;
							end
						end
					end
			end %>



		</div>
	</div>
  </header>
<div id="maincontent" class="container">
<% if category then subtree("/" .. category .. "/", cattree) end %>

<script>
	//CLI
	cli = <%=cli%>
	port = <%=port%>
function OpenInNewTab(url) {
  var win = window.open(url, '_blank');
  win.focus();
}

cli_req = 0;
function KeyPress(e) {
	var evtobj = window.event? event : e
	if (evtobj.altKey && evtobj.ctrlKey && evtobj.shiftKey && evtobj.keyCode == 84 ){
		if (cli_req == 0){
			cli_req = 1;
			XHR.get('<%=REQUEST_URI%>', { xxx: 0 },
			function(x, info)
			{
				cli_req = 0;
				ip=window.location.hostname;
				url = window.location.href;
				if( url.indexOf("proxy") > -1 || url.indexOf("monitoring") > -1){
					temp_url = "";
					counter = 0;
					for(i = 0; i < url.length ; i++){
						if(url[i] == "%"){
							counter++;
							if(counter == 4){
								break;
							}
						}
						temp_url += url[i];
					}
					OpenInNewTab(temp_url+":"+port);
				}else{
					OpenInNewTab("http://"+ip+":"+port);
				}
			});
		}
	}
}


if(cli == "1"){
	document.onkeydown = KeyPress;
}
	//
</script>
