<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008 Jo-Philipp Wich <xm@leipzig.freifunk.net>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: flashops.htm 7798 2011-10-26 23:43:04Z jow $

-%>

<%
	local show =  luci.tools.status.show_mobile()
	local sys = require "luci.sys"
	local month = luci.sys.exec("uname -a | awk -F ' ' '{print $6}' ")
	month = tostring(month)
	month = month:gsub("%s+", "")
	local months = { ["Jan"]="01", ["Feb"]="02", ["Mar"]="03", ["Apr"]="04", ["May"]="05", ["Jun"]="06", ["Jul"]="07", ["Aug"]="08", ["Sep"]="09", ["Oct"]="10", ["Nov"]="11", ["Dec"]="12" }
		month = months[month]
	local day = luci.sys.exec("uname -a | awk -F ' ' '{print $7}' ")
	day = day:gsub("%s+", "")

	if tonumber(day) < 10 then
		local days = { ["1"]="01", ["2"]="02", ["3"]="03", ["4"]="04", ["5"]="05", ["6"]="06", ["7"]="07", ["8"]="08", ["9"]="09", ["0"]="00" }
		day = days[day]
	end

	local hour = luci.sys.exec("uname -a | awk -F ' ' '{print $8}' ")
	hour = hour:gsub("%s+", "")
	local year = luci.sys.exec("uname -a | awk -F ' ' '{print $10}' ")
	year = year:gsub("%s+", "")

	new_fw=luci.sys.exec("uci -q get auto_update.auto_update.fw_version")
	if new_fw == null or new_fw == "" then
		new_fw = "N/A"
	end

%>

<%+header%>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
function check_For(){
	document.getElementById("refresh").disabled = true;
	XHR.get('<%=luci.dispatcher.build_url("admin", "system", "flashops","check")%>', { status: 1 },
		function(x, info)
		{
			document.getElementById('fw_version').innerHTML = info.new_fw;
			document.getElementById('refresh').disabled = false;
		}
	);
}

function change(){
	if(document.getElementById('from').value=="server"){
		document.getElementById('image').style.display = 'none';
		document.getElementById('label_image').style.display = 'none';
		document.getElementById('div_image').style.display = 'none';
		document.getElementById('upgrade_form').action=document.getElementById('server_form').value;
		document.getElementById('download').value = 1;
		//document.getElementById('step').value = 1;
	}else{
		document.getElementById('image').style.display = '';
		document.getElementById('label_image').style.display = '';
		document.getElementById('div_image').style.display = '';
		document.getElementById('upgrade_form').action=document.getElementById('file_form').value;
		document.getElementById('download').value = 0;
		//document.getElementById('step').value = 0;
	}
}
AddWindowOnLoadEvent(change);
//]]></script>

<h2><a id="content" name="content"><%=translate("Firmware")%></a></h2>
<div class="cbi-map-descr"><%=translate("")%> </div>


<% if image_invalid then %>
	<div id="err_message" class="alert-message error"><%=translate("The uploaded image file does not contain a supported format.") %></div>
<% end %>

<div style="width: 100%; height: 180px;">
	<div style="width:450px; float:left;">
		<fieldset class="cbi-section">
			<legend><%=translate("Current Firmware Information")%></legend>
			<table width="100%" class="cbi-section-table2" >
				<tbody>
				<tr><td><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Specifies the version of the firmware that is currently loaded in the router')%>')"</span><%=translate("Firmware version")%></td><td><%=luci.sys.exec("cat /etc/version")%></td></tr>
				<tr><td><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Specifies when firmware was loaded in the router, format (Year-month-day-hour)')%>')"</span><%=translate("Firmware build date")%></td><td><%=year%>-<%=month%>-<%=day%>, <%=hour%></td></tr>
				<tr style="border-bottom: 1px solid #DDD;"><td><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Specifies the version of the Linux or kernel that is currently running on the router')%>')"</span><%=translate("Kernel version")%></td><td><%=luci.sys.exec("uname -r")%></td></tr>
				</tbody>
			</table>
		<fieldset class="cbi-section">
	</div>
	<div style="width:450px; float: right;">
		<fieldset class="cbi-section">
			<legend><%=translate("Firmware Available On Server")%></legend>
			<table width="100%" id="TEST" cellspacing="10" class="cbi-section-table2">
				<tr style="border-bottom: 1px solid #DDD;"><td><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Firmware version available on Server')%>')"</span><%=translate("Firmware version")%></td><td id="fw_version"><%=new_fw or "N/A" %></td></tr>
			</table>
			 <button id="refresh" class="cbi-button-refresh" style="float: right;margin-top: 15px;" onClick="check_For()"><%=translate("Check for New FW")%></button>
		</fieldset>
	</div>
</div>

<fieldset class="cbi-section">
		<legend><%=translate("Firmware Upgrade Settings")%></legend>
		<% if upgrade_avail then %>
			<form id="upgrade_form" method="post" action="<%=luci.dispatcher.build_url("admin", "system", "flashops","auto")%>" enctype="multipart/form-data">
				<input type="hidden" id="file_form" value="<%=luci.dispatcher.build_url("admin", "system", "flashops","upgrade")%>" />
				<input type="hidden" id="server_form" value="<%=luci.dispatcher.build_url("admin", "system", "flashops","auto")%>" />
				<div class="cbi-section-descr"><!--<%:Warning: Upgrading firmware may take a few minutes. Do not turn off power or unplug the device during the firmware update, because it will result in permanent damage.%>--></div>
				<div class="cbi-section-node">
					<div class="cbi-value">
						<table style="margin-top: -16px;margin-bottom: 10px;" class="cbi-section-table3">
						<tr>
							<td><div class="cbi-value-title" style="margin: 0 0 0px 10px; width: 275px;"  id="block_keep">
									<label class="cbi-value-title" style="margin-left:10px" for="keep"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('All settings will be keep after firmware upgrade')%>')"</span><%=translate("Keep all settings")%></label>
									<input type="checkbox" style="float:right; margin-top:0px;" name="keep" id="keep" checked onclick="validate_keep();" />
								</div>
							</td>
							<td>
							<div class="cbi-value-title" style="margin: 0 0 0px 10px; width: 275px;" id="block_keep_d">
								<label class="cbi-value-title"  for="keep_ddns"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Include all dynamic Domain Name System (DNS) settings')%>')"</span><%=translate("Keep dynamic DNS settings")%></label>
									<input type="checkbox" style="float:right; margin-top:0px;" name="keep_ddns" id="keep_ddns" checked onclick="validate_orcheck();" />
							</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="cbi-value-title" style="margin: 0 0 0px 10px; width: 275px;"  id="block_keep_n">
									<label class="cbi-value-title"  for="keep_network"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Include WAN, mobile settings and LAN settings')%>')"</span><%=translate("Keep network settings")%></label>
									<input type="checkbox" style="float:right; margin-top:0px;" name="keep_network" id="keep_network" checked onclick="validate_3g(); validate_orcheck();" />
								</div>
							</td>
							<td>
						<div class="cbi-value-title" style="margin: 0 0 0px 10px; width: 275px;" id="block_keep_w">
							<label class="cbi-value-title"  for="keep_wireless"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Include all Wirless settings')%>')"</span><%=translate("Keep wireless settings")%></label>
								<input type="checkbox" style="float:right; margin-top:0px;" name="keep_wireless" id="keep_wireless" checked onclick="validate_orcheck();" />
						</div>
							</td>
						</tr>
						<tr>
							<% if show then %>
							<td>
								<div class="cbi-value-title" style="margin: 0 0 0px 10px; width: 275px;" id="block_keep_3">
								<label class="cbi-value-title"  for="keep_3g"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Include all mobile settings')%>')"</span><%=translate("Keep mobile settings")%></label>
										<input type="checkbox" style="float:right; margin-top:0px;" name="keep_3g" id="keep_3g" checked onclick="validate_orcheck();" />
								</div>
							</td>
							<% else %>
								<td>
									<div class="cbi-value-title" style="margin: 0 0 0px 10px; width: 275px;" id="block_keep_o">
										<label  for="keep_openvpn"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Include OpenVPN settings')%>')"</span><%=translate("Keep OpenVPN settings")%></label>
										<input type="checkbox" style="float:right; margin-top:0px;" name="keep_openvpn" id="keep_openvpn" checked onclick="validate_orcheck();" />
									</div>
								</td>
							<% end %>
							<td>
						<div class="cbi-value-title" style="margin: 0 0 0px 10px; width: 275px;" id="block_keep_f">
							<label class="cbi-value-title" for="keep_firewall"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Include all firewall settings')%>')"</span><%=translate("Keep firewall settings")%></label>
								<input type="checkbox" style="float:right; margin-top:0px;" name="keep_firewall" id="keep_firewall" checked onclick="validate_orcheck();" />
						</div>
							</td>
						</tr>
						<tr style="border-bottom: 1px solid #DDD;">
							<td>
							<div class="cbi-value-title" style="margin: 0 0 0px 10px; width: 275px;" id="block_keep_l">
								<label class="cbi-value-title"  for="keep_lan"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Include all local area network(LAN) settings')%>')"</span><%=translate("Keep LAN settings")%></label>
									<input type="checkbox" style="float:right; margin-top:0px;" name="keep_lan" id="keep_lan" checked onclick="validate_orcheck();" />
							</div>
							</td>
						<% if show then%>
							<td>
						<div class="cbi-value-title" style="margin: 0 0 0px 10px; width: 275px;" id="block_keep_o">
							<label  for="keep_openvpn"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Include OpenVPN settings')%>')"</span><%=translate("Keep OpenVPN settings")%></label>
								<input type="checkbox" style="float:right; margin-top:0px;" name="keep_openvpn" id="keep_openvpn" checked onclick="validate_orcheck();" />
						</div>
							</td>
						<% end %>
						</tr>
						</table>
					</div>
					<div style="float:left;width:100%;margin-top: 10px;">
						<div class="cbi-value-title" id="block_keep_o" style="float:left;">
							<select id="from" onchange="change()">
								<option value="file">Upgrade from file</option>
								<option value="server">Upgrade from server</option>
							</select>
						</div>
						<div id="div_image" <% if image_invalid then %> cbi-value-error<% end %>" style="margin-left: 30px;float:left;">
								<input type="hidden" id="step" name="step" value="1" />
								<input type="hidden" id="download" name="download" value="0" />
								<label id="label_image" class="cbi-value-title" style="float:none; margin-left:10px;" for="image"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Image- router firmware (FW) upgrade file')%>')"</span><%=translate("Firmware image file")%></label>
								<input type="file" name="image" id="image" /><br />
						</div>
					</div>
					<div style="float:left;">
						<input type="submit" style="margin-top: 15px;" class="cbi-button cbi-button-apply1" value="<%=translate('Upgrade')%>" />
					</div>
				</div>
			</form>
		<% else %>
			<div id="err_message" class="alert-message error"><%=translate("Sorry, unknown error.") %></div>
		<% end %>

</fieldset>

<script type="text/javascript">//<![CDATA[
	function validate_keep()
	{
		var mobile = document.getElementById('keep_3g');
		var mobile_block = document.getElementById('block_keep_3');
		if (document.getElementById('keep').checked) {

			document.getElementById('keep_network').checked 	= true;
			if (mobile) mobile.checked 		= true;
			document.getElementById('keep_lan').checked 		= true;
			document.getElementById('keep_ddns').checked 		= true;
			document.getElementById('keep_wireless').checked 	= true;
			document.getElementById('keep_firewall').checked 	= true;
			document.getElementById('keep_openvpn').checked 	= true;

			document.getElementById('block_keep_n').style.display = "block";
			if (mobile_block) mobile_block.style.display = "block";
			document.getElementById('block_keep_l').style.display = "block";
			document.getElementById('block_keep_d').style.display = "block";
			document.getElementById('block_keep_w').style.display = "block";
			document.getElementById('block_keep_f').style.display = "block";
			document.getElementById('block_keep_o').style.display = "block";

		} else {
			document.getElementById('keep_network').checked 	= false;
			if (mobile) mobile.checked 		= false;
			document.getElementById('keep_lan').checked 		= false;
			document.getElementById('keep_ddns').checked 		= false;
			document.getElementById('keep_wireless').checked 	= false;
			document.getElementById('keep_firewall').checked 	= false;
			document.getElementById('keep_openvpn').checked 	= false;

			document.getElementById('block_keep_n').style.display = "block";
			if (mobile_block) mobile_block.style.display = "block";
			document.getElementById('block_keep_l').style.display = "block";
			document.getElementById('block_keep_d').style.display = "block";
			document.getElementById('block_keep_w').style.display = "block";
			document.getElementById('block_keep_f').style.display = "block";
			document.getElementById('block_keep_o').style.display = "block";
		}
	}
	function validate_3g()
	{
		var mobile = document.getElementById('keep_3g');
		var mobile_block = document.getElementById('block_keep_3');
		if (document.getElementById('keep_network').checked) {


			if (mobile) mobile.checked = true;
			document.getElementById('keep_lan').checked = true;

			if (mobile_block) mobile_block.style.display = "block";
			document.getElementById('block_keep_l').style.display = "block";

		} else {
			if (mobile) mobile.checked = false;
			document.getElementById('keep_lan').checked = false;

			if (mobile_block) mobile_block.style.display = "block";
			document.getElementById('block_keep_l').style.display = "block";
		}
	}
	function validate_orcheck()
	{
		var mobile = document.getElementById('keep_3g');
		if	((mobile && mobile.checked == false)	||
			(document.getElementById('keep_lan').checked 		== false)	||
			(document.getElementById('keep_ddns').checked 		== false)	||
			(document.getElementById('keep_wireless').checked	== false) 	||
			(document.getElementById('keep_firewall').checked	== false) 	||
			(document.getElementById('keep_openvpn').checked 	== false))	{

			if	((mobile && mobile.checked == false)	||
			(document.getElementById('keep_lan').checked 		== false))	{

				document.getElementById('keep_network').checked = false;
				document.getElementById('block_keep_n').style.display = "block";

				document.getElementById('keep').checked = false;
				document.getElementById('block_keep').style.display = "block";
			}

				document.getElementById('keep').checked = false;
				document.getElementById('block_keep').style.display = "block";
			}

		if ((mobile && mobile.checked 		)	&&
			(document.getElementById('keep_lan').checked 		)	&&
			(document.getElementById('keep_ddns').checked 		)	&&
			(document.getElementById('keep_wireless').checked	) 	&&
			(document.getElementById('keep_firewall').checked	) 	&&
			(document.getElementById('keep_openvpn').checked 	))	{

			if	((mobile && mobile.checked == true)	&&
			(document.getElementById('keep_lan').checked 		== true))	{
				document.getElementById('keep_network').checked = true;
				document.getElementById('block_keep_n').style.display = "block";

				document.getElementById('keep').checked = true;
				document.getElementById('block_keep').style.display = "block";
			}
				document.getElementById('keep').checked = true;
				document.getElementById('block_keep').style.display = "block";
			}
		if	((mobile && mobile.checked == true)	&&
			(document.getElementById('keep_lan').checked 		== true))	{
				document.getElementById('keep_network').checked = true;
				document.getElementById('block_keep_n').style.display = "block";
			}
	}
//]]></script>

<%+footer%>
